<div block-bind="content">
	<div class="row">
        <div class="card col-12">
            <div class="card-body py-2">
                <h4 id="title_page" class="page-title text-uppercase text-center text-primary">Thông tin Tỉnh/Thành phố</h4>
            </div>
        </div>
    </div>
	<div class="card  card-small mb-4">
		<div class="card-body">
			<form class="form-horizontal" role="form">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Mã</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" data-bind="value:ma">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Tên</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:ten">
					</div>
                </div>
                <div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Quốc gia</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="dict:quocgia">
					</div>
                </div>
				<div class="form-group row">
					<div block-bind="toolbar" class="col-sm-12 col-xs-12 text-center"></div>
				</div>
			</form>
		</div>
	</div>
</div>