
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Hệ thống thông tin quản lý khai báo y tế</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="static/vendor/selectize/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="static/vendor/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/vendor/libtemplate1/css/bootstrap-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{static_url}}/vendor/libtemplate1/css/app-material.min.css" rel="stylesheet" type="text/css" />


    <!-- App favicon -->
    <link rel="shortcut icon" href="{{static_url}}/images_template/favicon.ico">

    <!-- plugin css -->
    <link href="{{static_url}}/vendor/libtemplate1/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="{{static_url}}/vendor/libtemplate1/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="{{static_url}}/vendor/libtemplate1/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="{{static_url}}/vendor/libtemplate1/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
    <link href="{{static_url}}/vendor/libtemplate1/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->


    <link rel="shortcut icon" href="{{static_url}}/images_template/Logo_BoYTe.png">
    <link  href="{{static_url}}/vendor/bootstrap/css/bootstrap-dialog.min.css" rel="stylesheet">

    <link href="{{static_url}}/vendor/libtemplate1/css/icons.min.css" rel="stylesheet" type="text/css" />
    
    <!-- <link rel="stylesheet" href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{static_url}}/vendor/GonrinUIBoostrap4/css/gonrin.datetimepicker.css">
    <link href="{{static_url}}/vendor/GonrinUI/css/gonrin.pagination.css" rel="stylesheet">
    <link href="{{static_url}}/vendor/GonrinUI/css/gonrin.ref.css" rel="stylesheet">
    <link rel="stylesheet" href="{{static_url}}/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="{{static_url}}/vendor/photoswipe/default-skin/default-skin.css">
    <link href="{{static_url}}/css/styles_custom.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/css/styles_kbyt.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/css/loader.css" rel="stylesheet" type="text/css" />
</head>

<body class="loading bg-white" data-layout-mode="horizontal" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>

<script src="{{static_url}}/vendor/jquery/jquery.min.js"></script>
<script src="{{static_url}}/vendor/bootstrap4/js/popper.min.js" crossorigin="anonymous"></script>
<script>
    var static_url = "static";
</script>
    <div class="loader">
        <div class="spinner-icon"></div>
        <div class="spinner-content ellipsis-161"></div>
    </div>
    <div id="contaner-template">
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
    
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
    
            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
    
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
    
                <div class="pswp__top-bar">
    
                    <!--  Controls are self-explanatory. Order can be changed. -->
    
                    <div class="pswp__counter"></div>
    
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
    
                    <button class="pswp__button pswp__button--share" title="Share"></button>
    
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
    
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
    
                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>
    
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
    
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
    
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
    
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
    
            </div>
    
        </div>
    
    </div>

<script src="{{static_url}}/vendor/libtemplate1/js/vendor.min.js"></script>
<!-- <script src="{{static_url}}/vendor/libtemplate1/js/bootstrap.bundle.min.js"></script> -->

<script src="{{static_url}}/vendor/photoswipe/photoswipe.min.js"></script>
<script src="{{static_url}}/vendor/libtemplate1/js/n2vi.min.js"></script>
<script src="{{static_url}}/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="{{static_url}}/vendor/libtemplate1/js/moment.js"></script>
<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.core.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.dialog.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.pagination.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.grid.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.ref.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.datetimepicker.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.checkbox.js" type="text/javascript"></script>

<script src="{{static_url}}/vendor/jquery/jquery.numeric.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.combobox.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.textbox.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.notify.js" type="text/javascript"></script>
<script src="{{static_url}}/vendor/selectize/js/selectize.min.js"></script>
<script src="{{static_url}}/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
    <!-- Plugin js-->
    <!-- <script src="{{static_url}}/vendor/libtemplate1/js/parsley.min.js"></script> -->

    <script src="{{static_url}}/vendor/libtemplate1/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="{{static_url}}/vendor/libtemplate1/js/app.min.js"></script>
<script data-main="{{static_url}}/js/app" src="{{static_url}}/js/require.js"></script>
</body>


</html>