<div block-bind="content">
    <div class="container khaibaoyte px-1">
        <div class="row">
            <div class="col-12 text-center text-uppercase mt-2">
                <span class="text-title">
                    Tờ khai y tế<br> Bệnh viện nhi trung ương
                </span>
                <i class="text-note d-block mt-1">
                    Việc cung cấp thông tin và phối hợp tham gia của ông/bà là
                    tự nguyện và trung thực vì mục đích chống dịch Covid-19
                </i>
                <i class="text-note d-block">
                    Thông tin khai báo có giá trị sử dụng trong 24 giờ
                </i>
            </div>
        </div>
        <!-- <video id="preview"></video>
        <div id="QRLink"></div> -->
        <div class="card px-1 py-2 p-sm-2 mt-2">
            <div class="row ">
                <div class="col-12 d-flex flex-wrap">
                    <div class="custom-control custom-radio mt-2 mr-2">
                        <input type="radio" id="benhnhan" value="1" name="loai_khaibao" class="custom-control-input">
                        <label class="custom-control-label" for="benhnhan">Người bệnh</label>
                    </div>
                    <div class="custom-control custom-radio mt-2 mr-2">
                        <input type="radio" id="nguoinha" value="2" name="loai_khaibao" class="custom-control-input">
                        <label class="custom-control-label" for="nguoinha">Người nhà</label>
                    </div>
                    <div class="custom-control custom-radio mt-2 mr-2">
                        <input type="radio" id="khaiho" value="3" name="loai_khaibao" class="custom-control-input">
                        <label class="custom-control-label" for="khaiho">Khai hộ</label>
                    </div>
                    <div class="custom-control custom-radio mt-2 mr-2">
                        <input type="radio" id="nhanvienyte" value="4" name="loai_khaibao" class="custom-control-input">
                        <label class="custom-control-label" for="nhanvienyte">Nhân viên y tế</label>
                    </div>
                    <div class="custom-control custom-radio mt-2 mr-2">
                        <input type="radio" id="khac" value="5" name="loai_khaibao" class="custom-control-input">
                        <label class="custom-control-label" for="khac">Khác </label>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12 ma_benh_nhan">
                    <div class="form-group">
                        <span>Mã bệnh nhân:</span>
                        <input type="number" class="form-control ma_benh_nhan_ip" placeholder="Nhập mã bệnh nhân"
                            data-bind="value:ma_benh_nhan" pattern="[0-9]*" min="0" step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && this.value.length<9' title="Numbers only">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Số điện thoại <span class="text-important">(*)</span>:</span>
                        <input type="number" class="form-control so_dien_thoai" placeholder="Số điện thoại liên lạc"
                            data-bind="value:so_dien_thoai" pattern="[0-9]*" min="0" step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && this.value.length<10' title="Numbers only">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Họ và tên <span class="text-important">(*)</span>:</span>
                        <input type="text" class="form-control hoten" placeholder="Họ và tên" data-bind="value:ten" style="text-transform:uppercase">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Ngày sinh:</span>
                        <input class="form-control" name="date_of_birth" value="" id="combodate" data-format="DD-MM-YYYY" data-template="DD MM YYYY"> 
                        <!-- <input type="text" class="form-control" placeholder="Ngày sinh" data-bind="value:ngaysinh"> -->
                    </div>
                </div>
                <div class="col-12 gioitinh">
                    <div class="form-group">
                        <span>Giới tính <span class="text-important">(*)</span>:</span>
                        <input type="text" class="form-control gioitinh-input" placeholder="Chọn giới tính"
                            data-bind="value:gioi_tinh" inputmode="none">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Địa chỉ <span class="text-important">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Địa chỉ" data-bind="value:dia_chi">
                    </div>
                </div>
                <div class="col-12 lydodenvien">
                    <div class="form-group">
                        <span>Lý do đến viện <span class="text-important">(*)</span>:</span>
                        <input type="text" class="form-control lydodenvien-input" placeholder="Lý do đến viện"
                            data-bind="value:lydodenvien">
                    </div>
                </div>
                <div class="col-12 khoaphong">
                    <div class="form-group">
                        <span>Khoa/phòng làm việc <span class="text-important">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Chọn khoa phòng"
                            data-bind="value:khoa_phong" id="selectize-khoaphong">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Hiện tại bạn có những dấu hiệu nào sau đây <span class="text-important">(*)</span>:</span>
                        <div class="table-responsive mt-1">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>Dấu hiệu</th>
                                        <th width="15%" class="text-center">Có</th>
                                        <th width="15%" class="text-center">Không</th>
                                    </tr>
                                </thead>
                                <tbody id="list-trieuchung">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <span>Trong 14 ngày qua bạn có <span class="text-important">(*)</span>:</span>
                        <div class="table-responsive mt-1">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>Yếu tố dịch tễ <span class="text-important">(*)</span></th>
                                        <th width="15%" class="text-center">Có</th>
                                        <th width="15%" class="text-center">Không</th>
                                    </tr>
                                </thead>
                                <tbody id="list-dichte">
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea rows="2" class="form-control"
                            placeholder="Vui lòng nhập rõ quốc gia, địa điểm mà bạn từng đến"
                            data-bind="value:ghi_chu"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-3 text-center">
                    <div block-bind="toolbar"></div>
                </div>
            </div>
        </div>

        <div id="list-modal"></div>
    </div>

</div>