<div class="account-pages py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 20px;">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-100 m-auto">
                            <div class="auth-logo">
                                <a href="" class="logo logo-dark text-center">
                                    <span class="logo">
                                        <img src="static/images_template/icon.png" width="80">
                                    </span>
                                </a>
            
                            </div>
                            <h4 class="my-3 text-uppercase text-success">Quản lý khai báo y tế</h4>
                        </div>

                        <form action="#">
                            <div class="form-group mb-3">
                                <label class="text-dark">Tên đăng nhập</label>
                                <input class="form-control" type="text" id="username" required="" placeholder="Nhập tài khoản" name="username">
                            </div>

                            <div class="form-group mb-3">
                                <label class="text-dark">Mật khẩu</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" placeholder="Nhập mật khẩu" name="password">
                                    <div class="input-group-append" data-password="false">
                                        <div class="input-group-text">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-block btn-login text-white font-weight-bold" type="submit"> Đăng nhập  </button>
                            </div>

                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->


            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<style>
body{
 padding-bottom: 0!important;   
}
</style>