/* start loader */
.navbar-nav .fa {
    margin-top: -5px;
    font-style: normal;
}
.inputs_active_account {
    width: 16.66%;
}
.search-collection {
    position: relative;
}
.search-collection input {
    position: absolute;
    right: 0px;
}
.grid_row.bg-primary {
    color: #fff;
}
.custom-file-label::after {
    content: "Upload";
    cursor: pointer;
}
.custom-file input {
    cursor: pointer;
}
.list-image {
    cursor: pointer;
}

input.form-control, select.form-control{
    height: calc(1.5em + .5rem + 2px) !important;
    padding: .15rem .5rem;
}
.form-group .input-group .form-control, .form-group .input-group .input-group-append, .clockpicker .input-group-append{
    height: calc(1.5em + .5rem + 2px) !important;
}
.input-group-text{
    padding: .15rem .5rem;
}
label{
    margin-bottom: 0.1rem;
}

.form-group {
    margin-bottom: 0.5rem;
}
.navbar-custom {
    height: 70px;
}

body[data-layout-mode=horizontal] .navbar-custom {
    height: 60px;
}
.logo-box .logo, .navbar-custom .topnav-menu .nav-link {
    line-height: 60px;
}
.notification-list .noti-icon-badge{
    top: 10px;
}

.topnav {
    margin-top: 60px;
}


.px-05 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

/* tr.px-05 td{
    padding-left: 2px !important;
    padding-right: 2px !important;
} */

/* end loader */

/* Custom card */
.card {
    margin-bottom: 5px !important;
}
.card-body {
    padding: 1rem 0.5rem;
}

.border-right-5{
    border-right: 5px solid #e5e8eb !important;
}
.border-left-5{
    border-left: 5px solid #e5e8eb !important;
}
.border-5{
    border: 5px solid #e5e8eb !important;
    border-radius: 0.2rem !important;
}



.button-scroll-show {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }


#button-alway-show {
    position: fixed;
    bottom: 0px;
    z-index: 1030;
    width: 100%;
    background: #F0F0F0;
    padding-bottom: 10px;
    padding-top: 5px;
  }

/* .modal-lg.modal-xl {
    max-width:90% !important;
} */
body[data-layout-mode=horizontal] .content-page {
    padding:70px 5px 10px 5px;
}

@media (min-width:992px) {
    .modal-lg {
        max-width:90% !important;
    }
    body[data-layout-mode=horizontal] .content-page {
        padding:calc(60px) 5px 10px 5px;
    }
}
@media (min-width:1367px) {
    .modal-xl {
        max-width:1140px !important;
    }
    body[data-layout-mode=horizontal] .content-page {
        padding:calc(60px) 7px 65px 7px;
    }
}

@media (max-width:556px) {
    
    #button-alway-show .btn-group .width-sm {
        min-width: 30px;
    }
}
@media (max-width:768px) {
    
    #button-alway-show .btn-group .width-sm {
        min-width: 50px;
    }
    
}
.text-info-left {
    width: 95px;
    color: #505e6a;
    /* padding-bottom: 9px; */
    margin-bottom: 0.35rem;
}
.text-info-right {
    width: calc(100% - 95px);
    padding-left: 5px !important;
    margin-bottom: 0.35rem;
}
.tab-thongtinkhambenh .text-info-left {
    width: 112px;
    margin-bottom: 5px;
}
.tab-thongtinkhambenh .text-info-right {
    width: calc(100% - 112px);
}
.tab-thongtinkhambenh .text-info-right, .tab-chisosinhhieu .text-info-right {
    margin-bottom: 5px;
}
.tab-chisosinhhieu .text-info-left {
    width: 200px;
    margin-bottom: 5px;
}
/* 200px; */
.thongtinbenhnhan .col-4.d-flex {
    padding-right: 4px !important;
}
.thongtinbenhnhan .form-control.ref-form-control {
    height: calc(1.5em + .5rem + 2px) !important;
    padding: .15rem .5rem !important;
}
.thongtinbenhnhan .btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split {
    padding: 0px 12px !important;
}
.thongtinbaohiem .form-group{
    font-size: 14px;
    margin-bottom: 0.35rem;
}
.selectize-input, #number_thuoc {
    height: calc(1.5em + .5rem + 2px) !important;
    min-height: calc(1.5em + .5rem + 2px) !important;
    padding: 6px 12px;
}
.tab-thongtinkhambenh .selectize-input .item {
    padding-top: 5px;
}
.text-info-right-bhyt {
    width: calc(100% - 90px);
    padding-left: 10px !important;
    position: relative;
}
.text-info-left-bhyt {
    width: 90px;
    color: #505e6a;
    padding-bottom: 9px;
}
.filter-benhnhan-viewkcb {
    text-align: right;
}
.filter-benhnhan-viewkcb button{
    font-size: 11px;
}

@media (max-width: 991.9px) {
    .text-info-right {
        width: calc(100% - 168px);
        padding-left: 10px !important;
        padding-bottom: 9px;
    }
    .text-info-left {
        width: 168px;
        padding-bottom: 9px;
    }
}

.collapsed .mdi::before {
    transform: rotate(270deg) !important;
}
table .fa.fa-times {
    cursor: pointer;
}
#form-kcb label {
    color: #505e6a;
}
.day.today {
    background-color: #e5e8eb;
}
.gonrin-datetimepicker-widget table td.today {
    background-color: #e5e8eb !important;
    background: #e5e8eb !important;
    color: aqua;
}
.card-thongtinbenhnhan {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    padding: 1.5rem;
    margin-bottom: 24px;
    border-radius: .25rem;
}
.cursor-pointer {
    cursor: pointer;
}
.timeline-sm-item .text-title {
    font-size: 15px;
    font-weight: 600;
    color: #6c757d;
}
.disable-click {
    pointer-events: none
}
.title-benhkemtheo {
    background-color: #f0f2f4;
    position: relative;
    margin-bottom: 7px;
}
.title-tongtien {
    font-size: 18px;
    font-weight: 600;
}
.title-benhkemtheo .accordion-arrow {
    padding-top: calc(.1rem + 1px) !important;
    padding-bottom: calc(.45rem + 1px) !important;
    margin-bottom: 0 !important;
}
.timeline-sm-item {
    padding-bottom: 10px !important;
}
.hososuckhoe-button {
    font-weight: 500;
    font-size: 16px;
}
.hososuckhoe-button a {
    color: #459ab9 !important;
}

/* .timeline-sm-date {
    font-size: 17px !important;
    margin-top: -3px !important;
} */
.timeline-sm li .timeline-sm-date {
    left: -119px !important;
    font-size: 17px !important;
    margin-top: -3px !important;
}
.timeline-sm li {
    padding-left: 22px !important;
}
/* .nav-button-tab {
    padding-left: 100px;
} */
.btn-back-hssk {
    background-color: #009688 !important;
    color: #fff !important;
}
@media (max-width: 997px) {
    .timeline-sm {
        padding-left: 0px;
    }
    .timeline-sm li .timeline-sm-date {
        position: relative !important;
        left: 0px !important;
        left: 0px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    /* .nav-button-tab {
        padding-left: 0px !important;
    } */
}
.nav-button-tab .nav-item, .nav-button-tab > .nav-link {
    flex-basis: revert !important;
    flex-grow: 0 !important;
    text-align: center !important;
}
.radio-kcb .custom-control {
    width: 30%;
}
/* body[data-layout-mode="horizontal"] .button-menu-mobile {
    display: inherit;
} */
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > a {
    width: calc(250px + 70px) !important;
}
body[data-sidebar-size="default"] #sidebar-menu > ul > li > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 992px){
    .icon-switch-menu {
        position: absolute;
        right: 0px;
        margin-top: 19px;
    }   
}
@media (max-width: 991.9px){
    .icon-switch-menu {
        visibility: hidden;
    }   
}
.layout-menudoc #button-alway-show{
    width: calc(100% - 240px) !important;
}
body[data-sidebar-size="condensed"] .layout-menudoc #button-alway-show{
    width: calc(100% - 70px) !important;
}
@media (min-width: 992px) {
    .modal-body #button-alway-show {
        width: calc(90% - 30px);
    }
}


/* form chi phi kcb  */
body.form-bankechiphikcb {
    background-color: #fff !important;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    visibility: visible !important;
    color: #000 !important;
}
body.form-bankechiphikcb table {
    color: #000;
}
.form-bankechiphikcb span {
    font-weight: 400;
    padding-left: 6px;
}
.form-bankechiphikcb .text-header-right {
    padding-left: 20px;
    /* padding-top: 24px; */
}
.form-bankechiphikcb .font-bold {
    font-weight: bold;
}
.form-bankechiphikcb .hanhchinh {
    font-size: 17px;
}
.form-bankechiphikcb table td,.form-bankechiphikcb .table th {
    padding: 6px;
}
.form-bankechiphikcb h5,.form-bankechiphikcb h4,.form-bankechiphikcb h3 {
    color: #000;
}
.form-bankechiphikcb .text-kyten {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
}

/* body.form-donthuoc .text-cosoyte {
    padding-top: 24px;
} */
body.form-donthuoc .text-header {
    padding-left: 25px;
    padding-top: 22px;
}
.form-tonghopdichvu .width-thdvkt{
    width: 115px;
}
.form-tonghopdichvu .text-kyten {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.form-danhsach-thanhtoan-kcbngoaitru .text-kyten, .form-danhsach-thanhtoan-kcbngoaitru .text-kyten{
    width: 20%;
    font-size: 16px;
    font-weight: 500;
    text-transform: full-size-kana;
}
.form-nhap-xuatkho .text-kyten {
    font-size: 18px;
    font-weight: 500;
}
/* end form chi tiet kcb  */

.dropdown-menu {
    z-index: 1200 !important;
}
.text-label-left {
    width: 104px;
    padding-top: 7px;
    /* text-transform: uppercase; */
    /* font-weight: 600; */
    /* text-align: right; */
    padding-right: 18px;
}
.text-input-right {
    width: calc(100% - 104px);
    padding-right: 15px;
}
.text-donvicungung-left {
    padding-top: 7px;
    /* text-transform: uppercase; */
    /* font-weight: 600; */
    text-align: right;
    padding-right: 18px;
    width: 145px;
}
.text-donvicungung-right {
    width: calc(100% - 145px);
    padding-right: 15px;
}
#sophieu, #sohoadon{
    border: 1px solid #ced4da;
    color: #6c757d;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}
.w-10 {
    width: 10% !important;
}
.w-20 {
    width: 20% !important;
}
.w-5 {
    width: 5% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.w-35 {
    width: 35% !important;
}
.w-50 {
    width: 50% !important;
}
.card-phieukemke label  {
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 10px;
}
/* .card-phieukemke .thoigiankk-left {
    width: 140px;
}
.card-phieukemke .thoigiankk-right {
    width: calc(100% - 140px);
    padding-right: 10px;
}
.card-phieukemke .text-kho-left {
    width: 50px;
}
.card-phieukemke .text-kho-right {
    width: calc(100% - 50px);
    padding-right: 10px;
}
.card-phieukemke .text-vattu-left {
    width: 115px;
}
.card-phieukemke .text-vattu-right {
    width: calc(100% - 115px);
    padding-right: 10px;
}
.card-phieukemke .btn-search {
    height: 26px !important;
margin-top: -1px;
}
.card-phieukemke input, .card-phieukemke .btn-add-vattu{
    height: 37px !important;
} */
.timkiem-vattu .selectize-input{
    height: 26px !important;
    margin-top: -1px;
}
.card-phieukemke #selectize-programmatic-selectized {
    top: -9px !important;
}
.card-phieukemke .thoigiankk-right {
    padding-top: 3px;
    font-size: 18px;
}
.table-phieukemke .bg-primary {
    background-color: #fff !important;
}
.table-phieukemke .grid_row.bg-primary, .table-phieukemke input{
    color: #6c757d;;
}
.pt-5px {
    padding-top: 5px !important;
}
.text-capthuoc {
    font-size: 17px;
}
.text-capthuoc .col-form-label {
    font-weight: 400 !important;
}
.text-capthuoc .col-form-label span{
    font-weight: 500 !important;
}

#form-capphatthuoc .selectize-input {
    height: calc(1.5em + .5rem + 2px) !important;
}
.has-error .invalid-feedback {
    display: contents;
}
.has-error input {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-color: #bb5250;
}
.table-capthuoc .dongia_ban , .table-capthuoc .thanhtien, .table-capthuoc tbody .nguoidan_chitra{
    text-align: right;
}
.table-capthuoc tbody tr td { 
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.radio-export-xml .custom-control {
    width: 23% !important;
}
.tab-all-khamchuabenh {
    background-color: #fff !important;
}
.tab-all-khamchuabenh .nav-tabs .nav-link.active {
    background-color: #3bafda !important;
    color: #fff !important;
}
.tab-all-khamchuabenh  .nav.nav-tabs{
    padding-top: 10px;
    margin-bottom: 7px;
    font-size: 17px;
}
.tab-all-khamchuabenh .nav-tabs > li > a {
    color: #526e6f !important;
}
.tab-all-khamchuabenh .nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.table-benh-kemtheo td, .table-benh-kemtheo th {
    padding: 0.2rem !important;
}
.font-weight-400 {
    font-weight: 400 !important;
}
.input-xutri {
    padding-left: 3px !important;
}
.tab-thongtinkhambenh .xutri-chuyentuyen .input-group.combobox-control .form-control, .select-thuoc .input-group.combobox-control .form-control {
    height: calc(1.5em + .5rem + 5px) !important;
    padding: .15rem .5rem !important;
}
.text-info-right1 {
    position: relative;
}
.text-info-right1 .gonrin-datetimepicker-widget.dropdown-menu {
    inset: 30px 0px auto auto !important;
}
.text-chiphi_khamchuabenh {
    padding: 0.5rem 1rem;
    font-size: 15px;
    color: #4877cc;
    font-weight: 600;
}
.text-chiphi_khamchuabenh span {
    color: #ed7e64;
    font-weight: 800;
}
.selectize-dropdown.single.form-control {
    z-index: 10000;
}
.text-info-baohiem .font-bold {
    font-weight: 500;
    font-size: 17px;
}
.text-info-baohiem {
    font-size: 18px;
    line-height: 34px;
}
.text-info-baohiem h4 {
    font-size: 23px;
}
.text-title-toathuoc {
    background-color: rgba(0, 150, 136, 1);
    color: #fff;
    padding-left: 5px;
}
.text-title-toathuoc:hover {
    color: #fff;
}
.text-title-toathuoc .accordion-arrow {
    position: absolute;
    right: 0px;
    padding-top: 2px;
    padding-right: 4px;
    font-size: 20px;
}
.text-align-center {
    text-align: center;
}
.selecttize-of-kcb input {
    position: relative;
    /* top: 4px; */
}
.has-error-soluong small {
    color: red;
}
.label-lichsukcb{
    color: #3bafda !important;
text-transform: uppercase;
font-size: 16px;
}
.selectize-input {
    padding-top: 4px !important;
}
.text-donvitinh {
    padding-top: 5px;
}
td.soluongthuoc-td {
    padding-top: 21px !important;
    padding-bottom: 0px !important;
}