.a{
    color: #0fbd7c;
    cursor: pointer;
}
body, .table{
    color: #262626!important;
}
.bg-gradient{
    background: rgb(15,189,124);
    background: linear-gradient(118deg, rgba(15,189,124,1) 0%, rgba(91,241,178,1) 50%, rgba(15,189,124,1) 100%);
}
.text-title{
    color: #1bc886;
    font-weight: 600;
    font-size: 18px;
}
.text-note{
    color: #1bc886;
    font-weight: 500;
    font-size: 12px;
}
.navbar-custom{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(76,247,170,1) 0%, rgba(15,189,124,1) 100%)!important;
}
.style-radio:checked{
    color: #fff;
    border-color: #3bafda;
    background-color: #3bafda;
}
.middle-vertical{
    vertical-align: middle;
}
.khaibaoyte, .khaibaoyte .table{
    color: #000!important;
}
.khaibaoyte .table td input{
    vertical-align: middle!important;
}
.khaibaoyte .table tr>td:nth-child(2),.khaibaoyte .table tr>td:nth-child(3){
    vertical-align: middle!important;
    min-width: 70px!important;
    width: 70px!important;
}
.text-important{
    color: #f00;
    font-style: italic;
}
.khaibao-wrapper{
    border: 1px solid #aaa5;
}
.red{
    color: #f00;
}
.ten{
    font-size: 22px;
    font-weight: bold;
}
.text-info-top{
    color: #1bc886;
}
.danhsach_khaibaoyte li.dropdown-item{
    white-space: break-spaces;
}
.line-item{
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background-color: #fff;
    display: block;
}

.btn-login, .tieptuc{
    background: rgb(15,189,124);
}
.btn-green{
    background: rgb(15,189,124);
    color: #fff;
    font-weight: bold;
}

.dropdown-item.active{
    font-weight: bold;
    background: #28d58f;
}
.dropdown-item.active a{
    color: #fff;
}

.bg-yes{
    background: #f8fb9a;
    color: #333;
    /* font-weight: bold; */
}
.type_qrcode{
    font-size: 18px;
    font-weight: bold;
    color: rgb(101, 213, 79);
    cursor: pointer;
}
.wrap{
    float: left;
    margin-top: -55px;
    background: #fff;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.lb-radio {
    width: 100%;
}
.col-xs-11.col-md-4.alert {
    width: auto!important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
.combodate{
    display: block;
}
.custom-select{
    height: calc(2rem + 2px)!important;
    padding: .15rem 1.9rem .15rem .4rem!important;
}
@media(max-width: 575px){
    .text-title{
        font-size: 16px;
    }
    .text-note{
        font-size: 10px;
    }
    .wrap{
        width: 80%;
    }
    .col-xs-11.col-md-4.alert {
        width: auto!important;
    }
}