<!-- Page Header -->
<div class="header">
	<h4 class="page-title text-uppercase text-center text-title mt-lg-3"></h4>
</div>
<!-- End Page Header -->

<div class="card danhsach_khaibaoyte">
	<div class="card-body">
		<div class="row mb-2">
			<div class="col-md-7 col-sm-7 col-7 my-1">
				<label>Yếu tố dịch tễ</label>
				<input type="text" class="filter-dichte form-control" id="dichte" placeholder="Chọn yếu tố dịch tễ">
			</div>
			<div class="col-md-5 col-sm-5 col-5  my-1">
				<label>Triệu chứng</label>
				<input type="text" class="filter-trieuchung form-control" id="trieuchung"
					placeholder="Chọn triệu chứng">
			</div>
			<div class="col-md-2 col-sm-6 col-6  my-1">
				<label>Từ ngày:</label>
				<input type="text" class="filter-tungay form-control" id="tungay" placeholder="Từ ngày">
			</div>
			<div class="col-md-2 col-sm-6 col-6  my-1">
				<label>Đến ngày:</label>
				<input type="text" class="filter-denngay form-control" id="denngay" placeholder="Đến ngày">
			</div>
			<div class="col-md-5 col-sm-7 col-12  my-1">
					<label>Tìm kiếm theo tên, theo mã bệnh nhân, SĐT:</label>
				<div class="form-group text-right" id="grid_search">
				</div>
			</div>
			<div class="col-md-3 col-sm-5 col-12  my-1">
				<label class="row">&nbsp;  </label>
				<div class="btn-group btn-group-sm">
					<button class="btn btn-danger btn-xoaboloc btn-sm mr-2">Xóa bộ lọc</button>
					<button class="btn btn-success btn-export-excel btn-sm">Xuất excel</button>
				  </div>
			</div>
			
		</div>
	</div>
	<div id="grid" data-bind='collection:$collection'></div>
</div>
</div>