
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý trạm y tế</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{static_url}}/images_template/Logo_BoYTe.png">
    <link href="{{static_url}}/vendor/libtemplate1/css/bootstrap-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{static_url}}/vendor/libtemplate1/css/app-material.min.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/vendor/libtemplate1/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/css/styles_custom.css" rel="stylesheet" type="text/css" />
</head>

<body class="loading form-bankechiphikcb" data-layout-mode="horizontal" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
<script>
    var static_url = "static";
</script>
<div class="row">
    <div class="col-6 col-md-5 text-center">
        <h4 class="text-uppercase">Sở y tê tỉnh Đồng Tháp</h4>
        <h4>Trung tâm Y tế TP Cao Lãnh</h4>
        <h4>Trạm y tế phường 4</h4>
    </div>
    <!-- <div class="col-md-3"></div> -->
    <div class="col-6 col-md-7 text-right pl-2 text-header-right">
        <div>Mẫu 01/KBCB</div>
        <div class="ma-benhnhan font-bold">Mã BN: 87090.0000111</div>
        <div>Mã số phiếu: 179339</div>
    </div>
    <div class="col-12 text-center text-uppercase">
        <h3>Bảng kê chi phí khám bệnh</h3>
    </div>
    <div class="col-12">
        <p class="font-bold hanhchinh col-12">I. Hành chính</p>
        <div class="form-group d-flex">
            <div class="col-5">Họ tên bệnh nhân: <span>{{nguoidan.hoten}}</span> </div>
            <div class="col-4">Ngày sinh: <span>{% if nguoidan.ngay_sinh_chinh_xac != None %}
                {{nguoidan.ngay_sinh_chinh_xac}}
            {% endif %}</span> </div>
            {% if nguoidan.gioi_tinh == 1 %}
                <div class="col-3">Giới tính: <span>Nam</span> </div>
            {% else %}
                <div class="col-3">Giới tính: <span>Nữ</span> </div>
            {% endif %}
        </div>
        <div class="form-group d-flex">
            <div class="col-9">Địa chỉ hiện tại: <span>{% if nguoidan.diachi != None %}
                {{nguoidan.diachi}}
            {% endif %}</span>
             </div>
            <div class="col-3">Mã khu vực: <span></span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5">Mã thẻ BHYT: <span>{% if nguoidan.ma_bhyt != None %}
                {{nguoidan.ma_bhyt}}
            {% endif %}</span> </div>
            <div class="col-7">Giá trị từ:  <span>{{nguoidan.thoigian_bhyt_batdau}}</span> <span>
                {% if nguoidan.thoigian_bhyt_ketthuc != None and nguoidan.thoigian_bhyt_ketthuc != "" %}
                    đến {{nguoidan.thoigian_bhyt_batdau}}
                {% endif %}</span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-9">Nơi DK KCB ban đầu: <span>{% if nguoidan.noi_kcb_bd_bhyt != None %}
                {{nguoidan.noi_kcb_bd_bhyt}}
            {% endif %}</span> </div>
            <div class="col-3">Mã: <span>{% if donvi.ma_cosokcb != None %}
                {{donvi.ma_cosokcb}}
            {% endif %}</span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-12">Đến khám ngày: <span>{% if healthrecord.ngay_kham != None %}
                {{healthrecord.ngay_kham}}
            {% endif %}</span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-12">Điều trị ngoại trú/nội trú từ: <span>{% if healthrecord.ngay_vao != None %}
                {{healthrecord.ngay_vao}}
            {% endif %}</span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5">Kết thúc khám điều trị: <span>{% if healthrecord.ngay_ra != None %}
                {{healthrecord.ngay_ra}}
            {% endif %}</span> </div>
            <div class="col-4">Tổng số ngày điều trị: <span>{% if healthrecord.songay_dieutri != None %}
                {{healthrecord.songay_dieutri}}
            {% endif %}</span></div>

            <div class="col-3">Tình trạng ra viện: 
                {% if healthrecord.ket_qua_dieu_tri == 1 %}
                    <span>"Khỏi bệnh"</span>
                {% elif healthrecord.ket_qua_dieu_tri == 2 %}
                    <span>"Bệnh đỡ hơn"</span>
                {% elif healthrecord.ket_qua_dieu_tri == 3 %}
                    <span>"Không thay đổi"</span>
                {% elif healthrecord.ket_qua_dieu_tri == 4 %}
                    <span>"Bệnh nặng hơn"</span>
                {% elif healthrecord.ket_qua_dieu_tri == 5 %}
                    <span>"Tử vong"</span>
                {% endif %}</div>
        </div>
        <div class="form-group d-flex">
            <div class="col-9">Chẩn đoán xác định: <span>{{healthrecord.benh_chinh_ten}}</span> </div>
            <div class="col-3">Mã bệnh: <span>{{healthrecord.benh_chinh_ma}}</span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-9">Bệnh kèm theo: <span>{{healthrecord.benh_kemtheo_ten}}</span> </div>
            <div class="col-3">Mã bệnh kèm theo: <span>{{healthrecord.benh_kemtheo_ma}}</span> </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5">Thời điểm đủ 5 năm liên tục từ ngày: <span>{{nguoidan.thoigian_bhyt_du5nam}}</span> </div>
            <!-- <div class="col-7">Miễn cùng chi trả trong năm từ ngày: <span></span> </div> -->
        </div>
    </div>
    <div class="col-12 my-2 pb-5">
        <p class="font-bold hanhchinh col-12">II. Phần chi phí khám chữa bệnh</p>
        <div class="form-group d-flex">
            <div class="col-4">Mã thẻ BHYT: <span>{% if nguoidan.ma_bhyt != None %}
                {{nguoidan.ma_bhyt}}
            {% endif %}</span> </div>
            <div class="col-5">Giá trị từ:  <span>{{nguoidan.thoigian_bhyt_batdau}}</span> <span>{% if nguoidan.thoigian_bhyt_ketthuc != None and nguoidan.thoigian_bhyt_ketthuc != "" %}
                đến {{nguoidan.thoigian_bhyt_batdau}}
            {% endif %}</span> </div>
            <div class="col-3">Mức hưởng:  <span>{% if tongtien_tungdong.tyle_huong != None %}
                {{tongtien_tungdong.tyle_huong}} %
            {% endif %}</span> </div>
        </div>
        <!-- (Chi phí KCB tính từ ngày 04/01/2019 đến ngày 04/01/2019) -->
        <div class="form-group d-flex">
            <div class="col-12">(Chi phí KCB tính từ ngày <span>{% if healthrecord.ngay_vao != None %}
                {{healthrecord.ngay_vao}}
            {% endif %}</span> đến ngày <span>{% if healthrecord.ngay_ra != None %}
                {{healthrecord.ngay_ra}}
            {% endif %}</span>)</div>
        </div>
        <!-- {% if tongtien_tungdong.tyle_huong != None %}
                                {{tongtien_tungdong.tyle_huong}}
                            {% endif %} -->
        <div class="form-group">
            <div class="table-responsive w-100 mb-3">
                <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle table-vattu" data-page-size="7" style="font-size: 13px;">
                    <thead>
                        <tr>
                            <th data-sort-initial="true" data-toggle="true" rowspan="2" style="width: 200px">Nội dung</th>
                            <th  rowspan="2" >Đơn vị tính</th>
                            <th rowspan="2">Số lượng</th>
                            <th  rowspan="2">Đơn giá BV</th>
                            <th  rowspan="2">Đơn giá BH</th>
                            <th  rowspan="2">Tỷ lệ thanh toán theo dịch vụ</th>
                            <th  rowspan="2">Thành tiền BV</th>
                            <th  rowspan="2">Tỷ lệ thanh toán BHYT</th>
                            <th  rowspan="2">Thành tiền BHYT</th>
                            <th  colspan="4" class="text-center">Nguồn thanh toán (đồng)</th>
                        </tr>
                        <tr>
                            <th >Quỹ BHYT</th>
                            <th >Người bệnh cùng chi trả</th>
                            <th style="min-width: 50px;">Khác</th>
                            <th >Người bệnh tự trả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="13">
                                <h5>Khám bệnh</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>Khám bệnh tại Trạm y tế</td>
                            <td class="text-center">Lượt
                            </td>
                            <td class="text-center">1</td>
                            <td class="text-center">{% if tongtien_tungdong.khambenh.thanhtien_bv != None %}
                                {{tongtien_tungdong.khambenh.thanhtien_bv}}
                            {% endif %}</td>
                            <td class="text-center">{% if tongtien_tungdong.khambenh.thanhtien_bv != None %}
                                {{tongtien_tungdong.khambenh.thanhtien_bv}}
                            {% endif %}</td>
                            <td>100</td>
                            <td class="text-right">{% if tongtien_tungdong.khambenh.thanhtien_bv != None %}
                                {{tongtien_tungdong.khambenh.thanhtien_bv}}
                            {% endif %}</td>
                            <td></td>
                            <td class="text-right">{% if tongtien_tungdong.khambenh.thanhtien_bhyt != None %}
                                {{tongtien_tungdong.khambenh.thanhtien_bhyt}}
                            {% endif %}</td>
                            <td class="text-right">{% if tongtien_tungdong.khambenh.bhyt_chitra != None %}
                                {{tongtien_tungdong.khambenh.bhyt_chitra}}
                            {% endif %}</td>
                            <td class="text-right">{% if tongtien_tungdong.khambenh.nguoibenh_cungchitra != None %}
                                {{tongtien_tungdong.khambenh.nguoibenh_cungchitra}}
                            {% endif %}</td>
                            <td></td>
                            <td>{% if tongtien_tungdong.khambenh.nguoibenh_tutra != None %}
                                {{tongtien_tungdong.khambenh.nguoibenh_tutra}}
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <h5>Dịch vụ - Kĩ thuật</h5>
                            </td>
                            <td class="text-right">{% if tongtien_tungdong.dichvu.thanhtien_bv != None %}
                                {{tongtien_tungdong.dichvu.thanhtien_bv}}
                            {% endif %}</td>
                            <td></td>
                            <td class="text-right">{% if tongtien_tungdong.dichvu.thanhtien_bhyt != None %}
                                {{tongtien_tungdong.dichvu.thanhtien_bhyt}}
                            {% endif %}</td>
                            <td class="text-right">{% if tongtien_tungdong.dichvu.bhyt_chitra != None %}
                                {{tongtien_tungdong.dichvu.bhyt_chitra}}
                            {% endif %}</td>
                            <td class="text-right">{% if tongtien_tungdong.dichvu.nguoibenh_cungchitra != None %}
                                {{tongtien_tungdong.dichvu.nguoibenh_cungchitra}}
                            {% endif %}</td>
                            <td></td>
                            <td>{% if tongtien_tungdong.dichvu.nguoibenh_tutra != None %}
                                {{tongtien_tungdong.dichvu.nguoibenh_tutra}}
                            {% endif %}</td>
                        </tr>
                        {% for dichvu in danhsach_dichvu %}
                            <tr>
                                <td>{% if dichvu.ten_dichvu != None %}
                                    {{dichvu.ten_dichvu}}
                                {% endif %}</td>
                                <td class="text-center">Lượt
                                </td>
                                <td class="text-center">{% if dichvu.soluong != None %}
                                    {{dichvu.soluong}}
                                {% endif %}</td>
                                <td class="text-center">{% if dichvu.gia_dichvu != None %}
                                    {{dichvu.gia_dichvu}}
                                {% endif %}</td>
                                <td class="text-center">{% if dichvu.gia_dichvu != None %}
                                    {{dichvu.gia_dichvu}}
                                {% endif %}</td>
                                <td>{% if dichvu.tyle_thanhtoan != None %}
                                    {{dichvu.tyle_thanhtoan}}
                                {% endif %}</td>
                                <td class="text-right">{% if dichvu.thanhtien_bv != None %}
                                    {{dichvu.thanhtien_bv}}
                                {% endif %}</td>
                                <td>{% if dichvu.tyle_huong != None %}
                                    {{dichvu.tyle_huong}}
                                {% endif %}</td>
                                <td class="text-right">{% if dichvu.thanhtien_bhyt != None %}
                                    {{dichvu.thanhtien_bhyt}}
                                {% endif %}</td>
                                <td class="text-right">{% if dichvu.bhyt_chitra != None %}
                                    {{dichvu.bhyt_chitra}}
                                {% endif %}</td>
                                <td class="text-right">{% if dichvu.nguoibenh_cungchitra != None %}
                                    {{dichvu.nguoibenh_cungchitra}}
                                {% endif %}</td>
                                <td></td>
                                <td>{% if dichvu.nguoibenh_tutra != None %}
                                    {{dichvu.nguoibenh_tutra}}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}


                        <tr>
                            <td colspan="13">
                                <h5>Thuốc dịch truyền</h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <h5>Trong danh mục bảo hiểm y tế</h5>
                            </td>
                            <td class="text-right">{% if tongtien_tungdong.thuoc.thanhtien_bv != None %}
                                {{tongtien_tungdong.thuoc.thanhtien_bv}}
                            {% endif %}</td>
                            <td></td>
                            <td class="text-right">{% if tongtien_tungdong.thuoc.thanhtien_bhyt != None %}
                                {{tongtien_tungdong.thuoc.thanhtien_bhyt}}
                            {% endif %}</td>
                            <td class="text-right">{% if tongtien_tungdong.thuoc.bhyt_chitra != None %}
                                {{tongtien_tungdong.thuoc.bhyt_chitra}}
                            {% endif %}</td>
                            <td class="text-right">{% if tongtien_tungdong.thuoc.nguoibenh_cungchitra != None %}
                                {{tongtien_tungdong.thuoc.nguoibenh_cungchitra}}
                            {% endif %}</td>
                            <td></td>
                            <td>{% if tongtien_tungdong.thuoc.nguoibenh_tutra != None %}
                                {{tongtien_tungdong.thuoc.nguoibenh_tutra}}
                            {% endif %}</td>
                        </tr>

                            {% for thuoc in danhsach_thuoc %}
                            <tr>
                                <td>{% if thuoc.ten_vattu != None %}
                                    {{thuoc.ten_vattu}}
                                {% endif %}</td>
                                <td class="text-center">{{thuoc.donvitinh}}
                                </td>
                                <td class="text-center">{% if thuoc.soluong_capphat != None %}
                                    {{thuoc.soluong_capphat}}
                                {% endif %}</td>
                                <td class="text-center">{% if thuoc.giatien != None %}
                                    {{thuoc.giatien}}
                                {% endif %}</td>
                                <td class="text-center">{% if thuoc.giatien != None %}
                                    {{thuoc.giatien}}
                                {% endif %}</td>
                                <td>{% if thuoc.tyle_thanhtoan != None %}
                                    {{thuoc.tyle_thanhtoan}}
                                {% endif %}</td>
                                <td class="text-right">{% if thuoc.thanhtien_bv != None %}
                                    {{thuoc.thanhtien_bv}}
                                {% endif %}</td>
                                <td>{% if thuoc.tyle_huong != None %}
                                    {{thuoc.tyle_huong}}
                                {% endif %}</td>
                                <td class="text-right">{% if thuoc.thanhtien_bhyt != None %}
                                    {{thuoc.thanhtien_bhyt}}
                                {% endif %}</td>
                                <td class="text-right">{% if thuoc.bhyt_chitra != None %}
                                    {{thuoc.bhyt_chitra}}
                                {% endif %}</td>
                                <td class="text-right">{% if thuoc.nguoibenh_cungchitra != None %}
                                    {{thuoc.nguoibenh_cungchitra}}
                                {% endif %}</td>
                                <td></td>
                                <td>{% if thuoc.nguoibenh_tutra != None %}
                                    {{thuoc.nguoibenh_tutra}}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}
                        <!-- </tr> -->
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td colspan="9" class="title-tongtien">Tổng tiền: <span class="tongtien-dichvu">0</span> VND</td>
                        </tr>
                    </tfoot> -->
                </table>
            </div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5">Tổng chi phí khám, chữa bệnh / cả đợt điều:</div><div class="col-3 text-right"><span>{% if tongtien.tong_chiphi != None %}
                {{tongtien.tong_chiphi}}
            {% endif %}</span> VND</div>
            <br>
        </div>
        <div class="form-group">
            <div class="col-12">Tổng tiền bằng chữ: <b>{{tongtien.tong_chiphi_bangchu}}</b></div>
        </div>
        <h4 class="col-12">Trong đó, tổng số tiền do: </h4>
        <div class="form-group d-flex">
            <div class="col-5 pl-2">- Quỹ BHYT thanh toán:</div><div class="col-3 text-right"><span>{% if tongtien.tong_chiphi != None %}
                {{tongtien.tong_chiphi}}
            {% endif %}</span> VND</div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5 pl-2">- Người bệnh trả, trong đó:</div><div class="col-3 text-right"><span>0,00</span> VND</div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5 pl-4">- Cùng trả trong phạm vi BHYT:</div><div class="col-3 text-right"><span>0,00</span> VND</div>
        </div>
        <div class="form-group d-flex">
            <div class="col-5 pl-4">- Các khoản phải trả khác:</div><div class="col-3 text-right"><span>0,00</span> VND</div>
        </div>
        <div class="form-group d-flex pb-1">
            <div class="col-5 pl-2">- Nguồn khác:</div><div class="col-3 text-right"><span>0,00</span> VND</div>
        </div>
        <div class="form-group d-flex text-right mr-2">
            <div class="col-8"></div>
            <div class="col-4 text-center">{{current_time}}</div>
        </div>
        <div class="form-group d-flex text-kyten">
            <div class="col-4 text-center">Người lập bảng kê</div>
            <div class="col-4 text-center">Xác nhận của bệnh nhân</div>
            <div class="col-4 text-center">Trạm trưởng</div>
        </div>
    </div>
</div>





<!-- <script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script> -->
<!-- <script src="static/vendor/bootstrap4/js/popper.min.js" crossorigin="anonymous"></script> -->

<!-- <link href="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}" rel="stylesheet"> -->

<script src="{{static_url}}/vendor/libtemplate1/js/vendor.min.js"></script>
<!-- <script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.combobox.js" type="text/javascript"></script> -->
<script src="{{static_url}}/vendor/libtemplate1/js/app.min.js"></script>
</body>


</html>