<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý chứng chỉ hành nghề dược</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>
</head>

<body>
    <div class="padding-common">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td width="30%">
                        <div class="font-weight-bold text-center">
                            SỞ Y TẾ<br>
                            TP HỒ CHÍ MINH<br>
                            -------
                        </div>
                    </td>
                    <td width="70%">
                        <div class="font-weight-bold text-center">

                            CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                            Độc lập - Tự do - Hạnh phúc <br>
                            ---------------
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <table class="table table-bordered mt-3">
            <tbody>
                <tr>
                    <td width="20%">
                        <div class="text-center">
                            Ảnh
                        </div>
                    </td>
                    <td width="80%">
                        <div class="font-weight-bold text-center">
                            CHỨNG CHỈ HÀNH NGHỀ DƯỢC<br>
                            Số hiệu: {%if yeucauchungchi['so_cchnd'] and yeucauchungchi['loaima_cchnd']%}{{yeucauchungchi['so_cchnd']}}/{{yeucauchungchi['loaima_cchnd']}}{%endif%}<br>
                            ……………………………..
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div>Chứng nhận Ông/Bà: {%if yeucauchungchi.ten_doi_tuong != None %}{{yeucauchungchi.ten_doi_tuong}}{%endif%}
        </div>
        <div>Ngày, tháng, năm sinh: {%if yeucauchungchi.ngaysinh != None %}{{yeucauchungchi.ngaysinh}}{%endif%}</div>
        <div>Số CMND/Thẻ căn cước/Hộ chiếu/Các giấy tờ tương đương khác:
            {%if yeucauchungchi.macongdan != None %}{{yeucauchungchi.macongdan}}{%endif%}</div>
        <div>
            <span>Ngày cấp: {%if doituong!=None and doituong.ngaycap!=None%}{{doituong.ngaycap}}{%endif%}</span>
            <span class=" ml-5">Nơi cấp: {%if doituong!=None and doituong.noicap!=None%}{{doituong.noicap}}{%endif%}
            </span>
        </div>
        <div>Địa chỉ thường trú: {%if doituong.diachi_thuongtru!= None%}{{doituong.diachi_thuongtru}}{%endif%}</div>
        <div>Văn bằng chuyên môn: {%if doituong!=None and doituong.vanbang!=None%}{{doituong.vanbang.ten}}{%endif%}
        </div>
        <div>Phạm vi hoạt động chuyên môn: {%if yeucauchungchi['phamvi_hanhnghe'] != None%}
            {%for phamvi_hanhnghe in yeucauchungchi['phamvi_hanhnghe']%}
            {{phamvi_hanhnghe.ten}}{%if loop.last==false%},{%endif%}
            {%endfor%}
            {%endif%}</div>
        <div>
            Đủ điều kiện hành nghề dược với các vị trí hành nghề sau:
            {%if yeucauchungchi['vitri_hanhnghe'] != None%}
            {%for vitri_hanhnghe in yeucauchungchi['vitri_hanhnghe']%}
            {{vitri_hanhnghe.rut_gon}}
            {%endfor%}
            {%endif%}
        </div>
        <div>Hình thức cấp Chứng chỉ hành nghề:
            {%if yeucauchungchi['hinh_thuc']=='1'%}
            Xét hồ sơ
            {%else%}
            Thi
            {%endif%}
        </div>
        {%if yeucauchungchi['yeucau_phiendich']==1 %}<div>Yêu cầu có phiên dịch trong hành nghề.</div>{%endif%}
        <div>
            Chứng chỉ hành nghề dược có hiệu lực từ {%if ngayhieuluc != None%}{{ngayhieuluc}}{%endif%} được cấp theo Quyết định số: {%if yeucauchungchi['so_quyet_dinh']%}{{yeucauchungchi['so_quyet_dinh']}}{%endif%} {%if ngay_quyet_dinh != None%}{{ngay_quyet_dinh}}{%endif%} của Giám đốc Sở Y tế TP Hồ Chí Minh
        </div>
        <div>
            <i>Thay thế cho Chứng chỉ hành nghề dược số {% if yeucauchungchi['loai_cap_chungchi']!='2'%}........{%else%}{%if yeucauchungchi['thaythe_cchnd'] != None%}{{yeucauchungchi['thaythe_cchnd']}}{%endif%}{%endif%}.(nếu là trường hợp cấp lại, điều
                chỉnh).</i>
        </div>

        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <td width="50%">
                    </td>
                    <td width="50%" class="text-center">
                        ................, {{current_time}}<br>
                        <span class="font-weight-bold">CƠ QUAN CẤP</span><br>
                        <i>(Ký và ghi rõ họ tên, đóng dấu)</i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>


</html>