<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý chứng chỉ hành nghề dược</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>
    
</head>

<body>
    <div class="padding-common">
        <div class="row">
            <div class="col-12 text-center">
                <div class="text-uppercase">
                    CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
                </div>
                <div>
                    Độc lập - Tự do - Hạnh phúc
                </div>
                <div>
                    -------------
                </div>
                <div class="font-weight-bold">
                    <div class="text-uppercase" style="font-size: 20px;">ĐƠN ĐỀ NGHỊ</div>
                    <div>Cấp chứng chỉ hành nghề dược</div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                Kính gửi: <span class="font-weight-bold">Sở Y tế thành phố Hồ Chí Minh</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">1. Họ và tên:
                {%if yeucauchungchi.ten_doi_tuong != None %}{{yeucauchungchi.ten_doi_tuong}}{%endif%}</div>
            <div class="col-12">2. Ngày, tháng, năm sinh:
                {%if yeucauchungchi.ngaysinh != None %}{{yeucauchungchi.ngaysinh}}{%endif%}</div>
            <div class="col-12">3. Nơi đăng ký hộ khẩu thường trú:
                {%if doituong.diachi_thuongtru!= None%}{{doituong.diachi_thuongtru}}{%endif%}</div>
            <div class="col-12">4. Chỗ ở hiện nay: {%if doituong.diachi!= None%}{{doituong.diachi}}{%endif%}</div>
            <div class="col-12">5. Số CMND/Thẻ căn cước/Hộ chiếu/Các giấy tờ tương đương khác:
                {%if yeucauchungchi.macongdan != None %}{{yeucauchungchi.macongdan}}{%endif%}</div>
            <div class="col-12">
                <span>Ngày cấp:
                    {%if doituong!=None and doituong.ngaycap!=None%}{{doituong.ngaycap}}{%endif%}</span>
                <span class="ml-5">Nơi cấp: {%if doituong!=None and doituong.noicap!=None%}{{doituong.noicap}}{%endif%}
                </span>
            </div>
            <div class="col-12">
                <span>6. Điện thoại:
                    {%if doituong!=None and doituong.dienthoai!=None%}{{doituong.dienthoai}}{%endif%}</span>
                <span class="ml-5">Email (nếu có):
                    {%if doituong!=None and doituong.email!=None%}{{doituong.email}}{%endif%}</span>
            </div>
            <div class="col-12">7. Văn bằng chuyên môn:
                {%if doituong!=None and doituong.vanbang!=None%}{{doituong.vanbang.ten}}{%endif%}</div>
            <div class="col-12">8. Đã có thời gian thực hành tại cơ sở dược: </div>

            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <th>Tại</th>
                        <th>Từ ngày</th>
                        <th>Đến ngày</th>
                        <th>Nội dung</th>
                    </thead>
                    <tbody>
                        {%for coso in cosothuchanh%}
                        <tr>
                            <td>{%if coso.ten_co_so!=None%}{{coso.ten_co_so}}{%endif%}</td>
                            <td>{%if coso.tu_ngay!= None%}{{coso.tu_ngay}}{%endif%}</td>
                            <td>{%if coso.den_ngay!=None%}{{coso.den_ngay}}{%endif%}</td>
                            <td>
                                {%if coso.noi_dung_thuc_hanh!=None%}
                                {%for noidung in coso.noi_dung_thuc_hanh%}{{noidung.ten}}{%if loop.last==False%}, {%endif%}{%endfor%}
                                {%endif%}
                                {%if coso.noi_dung_khac!=None%}, {{coso.noi_dung_khac}}{%endif%}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>

            <div class="col-12">Người đề nghị cấp chứng chỉ hành nghề dược thuộc trường hợp sau:</div>
            <div class="col-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center">{%if yeucauchungchi.loai_cap_chungchi=='1'%}<input type="checkbox"
                                    checked>{%else%}<input type="checkbox">{%endif%}</td>
                            <td>Người đề nghị cấp chứng chỉ hành nghề dược lần đầu</td>
                        </tr>
                        <tr>
                            <td class="text-center">{%if yeucauchungchi.loai_cap_chungchi=='2'%}<input type="checkbox"
                                    checked>{%else%}<input type="checkbox">{%endif%}</td>
                            <td>Người đã được cấp chứng chỉ hành nghề dược nhung chứng chỉ hành nghề được bị thu hồi
                                theo quy định</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                Đề nghị cấp Chứng chỉ hành nghề dược theo hình thức:
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">Xét hồ sơ: {%if yeucauchungchi.hinh_thuc=='1'%}<input type="checkbox"
                            checked>{%else%}<input type="checkbox">{%endif%}</div>
                    <div class="col-4">Thi: {%if yeucauchungchi.hinh_thuc=='2'%}<input type="checkbox"
                            checked>{%else%}<input type="checkbox">{%endif%}</div>
                </div>
            </div>
            <div class="col-12">
                Đăng ký phạm vi hành nghề chuyên môn sau:
            </div>

            {%if yeucauchungchi.phamvi_hanhnghe != None%}
            {%for phamvi_hanhnghe in yeucauchungchi.phamvi_hanhnghe%}
            <div class="col-12 pl-2">- {{phamvi_hanhnghe.ten}}</div>
            {%endfor%}
            {%endif%}

            <div class="col-12">
                (Liệt kê các vị trí công việc mà cá nhân đề nghị và đáp ứng điều kiện theo quy định tạo Mục 1 Chương III
                của Luật dược 2016)
            </div>
            <div class="col-12">
                Sau khi nghiên cứu Luật dược và các quy định khác về hành nghề dược, tôi xin cam đoan thực hiện nghiêm
                túc và đầy đủ các quy định hiện hành của Luật dược và các văn bản quy phạm pháp luật về dược có liên
                quan. Nếu có vi phạm tôi xin chịu hoàn toàn trách nhiệm trước pháp luật.
            </div>
            <div class="col-12">
                Kính đề nghị Quý cơ quan xem xét và cấp chứng chỉ hành nghề dược cho tôi.
            </div>
            <div class="col-12">
                Tôi xin gửi kèm theo đơn này các tài liệu theo quy định tại Nghị định số .../2017/NĐ-CP ngày ../../2017
                của Chính phủ.
            </div>
        </div>
        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <td width="50%">
                    </td>
                    <td width="50%" class="text-center">
                        ................, {{current_time}}<br>
                        Người làm đơn<br>
                        (Ký và ghi rõ họ tên)
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</body>


</html>