<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý chứng chỉ hành nghề dược</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>
</head>

<body>

    <div class="padding-common">
        <div class="row mt-3 pl-2 pr-1">
            <div class="col-4 text-center">
                <div>SỞ Y TẾ</div>
                <div>THÀNH PHỐ HỒ CHÍ MINH</div>
                <hr width="25%" style="border-top: 1.5px solid #000 !important; max-width: 200px !important;"
                font-size="5px" class="mt-1 mb-0" color="black" />
            </div>
            <div class="col-6 ml-auto text-center">
                <div class="font-weight-bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
                <div class="font-weight-bold">Độc lập - Tự do - Hạnh Phúc</div>
                <hr width="50%" style="border-top: 1.5px solid #000 !important; max-width: 200px !important;"
                font-size="5px" class="mt-1 mb-0" color="black" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-5">
                <div class="text-center font-weight-bold">PHÒNG QUẢN LÝ DỊCH VỤ Y TẾ</div>
            </div>
            <div class="col-7"> 
                <div class="float-right pr-1"><i>TP. Hồ Chí Minh, ngày {% if objects.get("ngay_in_phieu") != None%}
                        {{objects.get("ngay_in_phieu")}} {% endif %}</i></div>
            </div>
        </div>

        <div class="row text-center pl-2 pr-1">
            <div class="col-12 font-weight-bold mt-2">PHIẾU YÊU CẦU</div>
            <div class="col-12 font-weight-bold">DỰ THẢO CHỨNG CHỈ HÀNH NGHỀ DƯỢC</div>
            <hr width="25%" style="border-top: 1.5px solid #000 !important; max-width: 200px !important;"
                font-size="5px" class="mt-1 mb-0" color="black" />
        </div>

        <div class="row pl-2 pr-1 pt-2">
            <div class="col-12">
                <span>Sau khi thẩm xét, hồ sơ đã đạt yêu cầu, đề nghị dự thảo CCHN với nội dung:</span>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-5">
                        <span>Họ và tên:
                            {% if objects.get("ten_doi_tuong") != None and objects.get("ten_doi_tuong") !="" %}
                            {{objects.get("ten_doi_tuong")}} {% endif %}</span>
                    </div>
                    <div class="col-7">
                        <span>Ngày tháng năm sinh:
                            {% if objects.get("ngay_sinh") != None  and objects.get("ngay_sinh") !="" %}
                            {{objects.get("ngay_sinh")}} {% endif %}</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span>Số CMND: {% if objects.get("macongdan") != None and objects.get("macongdan") !="" %}
                        {{objects.get("macongdan")}} {% endif %}</span>
                    <span class="pl-3">Ngày cấp:
                        {% if objects.get("ngay_cap_chung_minh_nhan_dan") != None and objects.get("ngay_cap_chung_minh_nhan_dan") !="" %}
                        {{objects.get("ngay_cap_chung_minh_nhan_dan")}} {% endif %}</span>
                    <span class=" pl-3">Nơi cấp:
                        {% if objects.get("noi_cap_chung_minh_nhan_dan") !=  None and  objects.get("noi_cap_chung_minh_nhan_dan") !="" %}
                        {{objects.get("noi_cap_chung_minh_nhan_dan")}} {% endif %} </span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span>Địa chỉ thường chú:
                        {% if objects.get("dia_chi_thuong_chu") != None and objects.get("dia_chi_thuong_chu") !="" %}
                        {{objects.get("dia_chi_thuong_chu")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span>Nơi ở hiện tại:
                        {% if objects.get("cho_o_hien_tai") != None and objects.get("cho_o_hien_tai") !="" %}
                        {{objects.get("cho_o_hien_tai")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span>Văn bằng chuyên
                        môn:{% if objects.get("ten_van_bang") != None and objects.get("ten_van_bang") !="" %}
                        {{objects.get("ten_van_bang")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span class="">Phạm vi hoạt động chuyên môn:</span>
                    {% for item in phamvi_hanhnghe %}
                    <span class="">{% if item.ten != None and item.ten !="" %}{{item.ten}}{%if loop.last==false%}, {%endif%}{% endif %}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span class="">Đủ điều kiện hành nghề dược với các vị trí hành nghề sau:</span>
                    <br>
                    <div class="text-indent-custom" style="text-indent: 2em">
                        Người chịu trách nhiệm chuyên môn về dược của:
                        {% for item in vitri_hanhnghe %}
                        <span class="">{% if item.rut_gon != None and item.rut_gon !="" %} {{item.rut_gon}} {% endif %}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 pt-1">
                <div>
                    <span>Số CCHN: {% if objects.get("so_cchnd") != None and objects.get("so_cchnd") !="" %}
                        {{objects.get("so_cchnd")}} {% endif %} </span>
                </div>
                <div>
                    <span
                        class="">{% if objects.get("text_loai_cap_chungchi") != None and objects.get("text_loai_cap_chungchi") !="" %}
                        {{objects.get("text_loai_cap_chungchi")}} {% endif %}
                        {% if objects.get("lan_cap_thu") != None and objects.get("lan_cap_thu") !="" %}
                        {{objects.get("lan_cap_thu")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span class="font-weight-bold">Chứng chỉ này thay thế cho CCHN số:
                        {% if objects.get("thaythe_cchnd") != None and objects.get("thaythe_cchnd") !="" %}
                        {{objects.get("thaythe_cchnd")}} {% endif %}</span>
                </div>
            </div>
        </div>
        <div class="row pl-2 pr-1">
            <div class="col-6">
                <div>
                    <span>Chuyên viên yêu cầu: {{objects.get('ten_nguoi_thu_ly')}}</span>
                </div>
                <div>
                    <span>Phê duyệt của Lãnh đạo phòng:</span>
                    {%for ykien in objects.get('ykien_lanhdao')%}
                    {%if ykien != None and ykien!=''%}<div>- {{ykien.noidung_ykien}}</div>{%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="row pt-4 pl-2 pr-1">
            <div class="col-5">
                <div>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
</body>


</html>