<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý chứng chỉ hành nghề dược</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>

<body>
    <div class="padding-common">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td width="40%">
                        <div class="text-center">
                            SỞ Y TẾ<br>
                            THÀNH PHỐ HỒ CHÍ MINH<br>
                            ----------<br>
                            <span class="font-weight-bold">PHÒNG QLDVYT</span>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="text-center">
                            <span class="font-weight-bold">
                                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                                Độc lập - Tự do - Hạnh phúc <br>
                                ----------------------------<br></span>
                            <div class="text-right"><i>Thành phố Hồ Chí Minh, ngày
                                    {% if objects.get("ngay_in_phieu") != None%}
                                    {{objects.get("ngay_in_phieu")}} {% endif %}</i></div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="row">
            <div class="col-12 text-center mt-3">
                <div class="font-weight-bold" style="font-size: 17px;">PHIẾU THẨM XÉT HỒ SƠ HÀNH NGHỀ</div>
                <hr width="50%"
                    style="border-top: 2px solid #000 !important; max-width: 200px !important;margin-top: 0.2rem !important;"
                    font-size="5px" class="mt-1 mb-0" color="black" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6 text-center">
                <span><u><i>Số hồ sơ: </i></u><span>{% if objects.get("ma_hoso") != None%} {{objects.get("ma_hoso")}}
                        {% endif %}</span></span>
            </div>
            <div class="col-6 text-center">
                <span><u><i>Ngày nộp: </i></u><span>{% if objects.get("ngay_nop_ho_so") != None%}
                        {{objects.get("ngay_nop_ho_so")}} {% endif %}</span></span>
            </div>
        </div>

        <div class="row ml-4 mt-2">
            <div class="col-12 mt-1">
                <div class="row">
                    <div class="col-6">
                        <span class="ho-ten">- Họ và
                            tên:{% if objects.get("ten_doi_tuong") != None and objects.get("ten_doi_tuong") !="" %}
                            {{objects.get("ten_doi_tuong")}} {% endif %}</span>
                    </div>
                    <div class="col-6">
                        <span class="nam-sinh">Năm sinh:
                            {% if objects.get("ngay_sinh") != None  and objects.get("ngay_sinh") !="" %}
                            {{objects.get("ngay_sinh")}} {% endif %} </span>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-1">
                <div>
                    <span class="chung-minh-nhan-dan">- CMND:
                        {% if objects.get("macongdan") != None and objects.get("macongdan") !="" %}
                        {{objects.get("macongdan")}} {% endif %}; </span>
                    <span class="ngay-cap-chung-minh-nhan-dan">Ngày cấp:
                        {% if objects.get("ngay_cap_chung_minh_nhan_dan") != None and objects.get("ngay_cap_chung_minh_nhan_dan") !="" %}
                        {{objects.get("ngay_cap_chung_minh_nhan_dan")}} {% endif %}; </span>
                    <span class="noi-cap-chung-minh-nhan-dan">Nơi cấp:
                        {% if objects.get("noi_cap_chung_minh_nhan_dan") !=  None and  objects.get("noi_cap_chung_minh_nhan_dan") !="" %}
                        {{objects.get("noi_cap_chung_minh_nhan_dan")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12 mt-1">
                <div>
                    <span class="dia-chi-thuong-chu">- Địa chỉ thường chú:
                        {% if objects.get("dia_chi_thuong_chu") != None and objects.get("dia_chi_thuong_chu") !="" %}
                        {{objects.get("dia_chi_thuong_chu")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12 mt-1">
                <div>
                    <span class="cho-o-hien-nay">- Chỗ ở hiện nay:
                        {% if objects.get("cho_o_hien_tai") != None and objects.get("cho_o_hien_tai") !="" %}
                        {{objects.get("cho_o_hien_tai")}} {% endif %} </span>
                </div>
            </div>
            <div class="col-12 mt-1">
                <div>
                    <span class="van-bang">- Văn bằng:
                        {% if objects.get("ten_van_bang") != None and objects.get("ten_van_bang") !="" %}
                        {{objects.get("ten_van_bang")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12 mt-1">
                <div>
                    <span class="ho-so-de-nghi">- Hồ sơ đề nghị: Cấp CCHND<span
                            class="text-danger">{% if objects.get("text_loai_yeu_cau") != None and objects.get("text_loai_yeu_cau") !="" %}
                            ({{objects.get("text_loai_yeu_cau")}}) {% endif %}</span></span>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="ml-4">
                    <span><u>Ghi chú</u></span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <label>
                        <input class="with-gap" name="group3" type="radio" checked />
                        <span>Đã kiểm tra cơ sở dữ liệu về CCHN, GCNDĐKKĐT</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-1">
            <div class="col-12 text-center">
                <div class="font-weight-bold" style="font-size: 17px;">KẾT QUẢ THẨM XÉT</div>
            </div>
        </div>
        <div class="row ml-4">
            <div class="col-12">
                <span style="white-space: pre-line">{% if objects.get("noidung_thamxet") !=  None and objects.get("noidung_thamxet") !="" %}{{objects.get("noidung_thamxet")}}
                    {% endif %}</span>
                <br>
                <span style="white-space: pre-line">{% if objects.get("noidung_denghi") != None and objects.get("noidung_denghi") !="" %}{{objects.get("noidung_denghi")}}
                    {% endif %}</span>
            </div>
            <div class="col-12 mt-2">
                <div class="mt-1">
                    <span>Chuyên viên xử lý: </span>
                    <span>{% if objects.get("ten_nguoi_thu_ly") != None and objects.get("ten_nguoi_thu_ly") !="" %}
                        {{objects.get("ten_nguoi_thu_ly")}} {% endif %}</span>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="font-weight-bold">
                    Ý KIẾN CỦA LÃNH ĐẠO PHÒNG:
                </div>
                {%if ykien_lanhdao|length > 0%}
                {% for ykien in ykien_lanhdao %}
                <div>
                    {{ykien.noidung_ykien}}<br>
                    {{ykien.hoten}}
                </div>
                {%endfor%}
                {%endif%}

            </div>
        </div>
    </div>
</body>


</html>