
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý trạm y tế</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{static_url}}/images_template/Logo_BoYTe.png">
    <link href="{{static_url}}/vendor/libtemplate1/css/bootstrap-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{static_url}}/vendor/libtemplate1/css/app-material.min.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/vendor/libtemplate1/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{static_url}}/css/styles_custom.css" rel="stylesheet" type="text/css" />
</head>

<body class="loading form-bankechiphikcb form-nhap-xuatkho" data-layout-mode="horizontal" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
<script>
    var static_url = "static";
</script>
<div class="row">
    <div class="col-6 col-md-6 text-left">
        <h4>{% if donvi != None and donvi.ten != None%}
            {{donvi.ten}}
        {% endif %}</h4>
    </div>
    <!-- <div class="col-md-4"></div> -->
    <!-- <div class="col-md-4 text-center">
        <h3 class="text-uppercase">Phiếu nhập kho</h3>
        <div><i> {{phieuxuat.thoigian_nhan}} </i></div>
        <h4>{% if phieuxuat != None and phieuxuat.so_phieu_chungtu != None%}
            Số phiếu:  {{phieuxuat.so_phieu_chungtu}}
        {% endif %}</h4>
    </div> -->
    <div class="col-6 col-md-6 text-center">
        <div class="font-bold">Mẫu số: 02 - VT</div>
        <div>Ban hành theo QĐ số: <br> 48/2006/QĐ/BTC/ ngày 14/9/2006 của <br> Bộ trưởng BTC</div>
        
    </div>
    <div class="col-12 text-center">
        <h3 class="text-uppercase">Phiếu xuất kho</h3>
        <div><i> {{phieuxuat.thoigian_xuat}} </i></div>
        <h4>{% if phieuxuat != None and phieuxuat.so_phieu_chungtu != None%}
            Số phiếu:  {{phieuxuat.so_phieu_chungtu}}
        {% endif %}</h4>
    </div>
    <div class="col-12 my-2 pb-5">
        <div class="form-group d-flex">
            {% if phieuxuat != None and phieuxuat.ten_nguoinhan != None%}
                <div class="col-8">Họ và tên người nhận: {{phieuxuat.ten_nguoinhan}} 
                </div>
            {% endif %}
            {% if phieuxuat != None and phieuxuat.so_no != None%}
                <div class="col-4 text-right font-bold">NỢ: {{phieuxuat.so_no}}</div>
            {% endif %}
        </div>
        <div class="form-group d-flex">
            {% if phieuxuat != None and phieuxuat.so_hoa_don != None%}
                <div class="col-8">Theo hóa đơn số: {{phieuxuat.so_hoa_don}} </div>
            {% endif %}
            {% if phieuxuat != None and phieuxuat.so_co != None%}
                <div class="col-4 text-right font-bold">CÓ: {{phieuxuat.so_co}}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {% if phieuxuat != None and phieuxuat.ten_kho != None%}
                <div class="col-12">Nhập tại kho: {{phieuxuat.ten_kho}} </div>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="table-responsive w-100 mb-3">
                <table id="demo-foo-addrow" class="table table-centered table-bordered mb-0 toggle-circle table-vattu" data-page-size="7" style="font-size: 13px;">
                    <thead>
                        <tr>
                            <th data-sort-initial="true" data-toggle="true" rowspan="2">STT</th>
                            <th data-hide="phone" rowspan="2">Số Lô</th>
                            <th style="min-width: 250px;" rowspan="2">Tên vật tư</th>
                            <th data-hide="phone" colspan="2" class="text-center">Số lượng</th>
                            <th data-hide="phone" rowspan="2">Đơn giá (VND)</th>
                            <th data-hide="phone" rowspan="2">Thành tiền (VND)</th>
                            <!-- <th data-sort-ignore="true" class="min-width" style="width: 61px;" rowspan="2"></th> -->
                        </tr>
                        <tr>
                            <th data-hide="phone">Chứng từ</th>
                            <th data-hide="phone">Thực nhập</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vattu in danhsach_vattu %}
                            <tr>
                                <td class="text-center">1</td>
                                <td>{% if vattu.so_lo != None%}
                                    {{vattu.so_lo}}
                                {% endif %}</td>
                                <td>{% if vattu.ten_vattu != None%}
                                    {{vattu.ten_vattu}}
                                {% endif %}</td>
                                <td class="text-center">{% if vattu.soluong_chungtu != None%}
                                    {{vattu.soluong_chungtu}}
                                {% endif %}</td>
                                <td class="text-center">{% if vattu.soluong_thucte != None%}
                                    {{vattu.soluong_thucte}}
                                {% endif %}</td>
                                <td class="text-right">{% if vattu.dongia != None%}
                                    {{vattu.dongia}}
                                {% endif %}</td>
                                <td class="text-right">{% if vattu.thanhtien != None%}
                                    {{vattu.thanhtien}}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            {% if phieuxuat != None and phieuxuat.so_phieu_chungtu != None%}
                <div class="col-12">Số chứng từ kèm theo: {{phieuxuat.so_phieu_chungtu}} </div>
            {% endif %}
        </div>
        <div class="form-group d-flex text-kyten text-uppercase">
            <div class="col-3 text-center">Người lập phiếu </div>
            <div class="col-3 text-center">Người nhận hàng</div>
            <div class="col-3 text-center">Thủ kho </div>
            <div class="col-3 text-center">Giám đốc </div>
        </div>
    </div>
</div>




<script src="{{static_url}}/vendor/libtemplate1/js/vendor.min.js"></script>
<script src="{{static_url}}/vendor/libtemplate1/js/app.min.js"></script>
</body>


</html>