<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý chứng chỉ hành nghề dược</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>
</head>

<body>
    <div class="padding-common">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td width="40%">
                        <div class="text-center">
                            ỦY BAN NHÂN DÂN<br>
                            THÀNH PHỐ HỒ CHÍ MINH<br>
                            ----------<br>
                            <span class="font-weight-bold">SỞ Y TẾ</span><br>
                            Số:<span class="ml-5 mr-5"></span>/SYT-QLDVYT<br>
                            V/v đề nghị bổ sung hồ sơ cấp <br>
                            Chứng chỉ hành nghề dược
                        </div>
                    </td>
                    <td width="60%">
                        <div class="text-center">
                            <span class="font-weight-bold">
                                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                                Độc lập - Tự do - Hạnh phúc <br>
                                ----------------------------<br></span>
                            <div class="text-right mt-5">
                                <span><i>Thành phố Hồ Chí Minh, </i></span>
                                <span><i>ngày {% if objects.get("str_ngay_in_phieu") != None%}
                                        {{objects.get("str_ngay_in_phieu")}}
                                        {% endif %}</i></span>
                                <span><i>tháng {% if objects.get("str_thang_in_phieu") != None%}
                                        {{objects.get("str_thang_in_phieu")}}
                                        {% endif %}</i></span>
                                <span><i>năm {% if objects.get("str_nam_in_phieu") != None%}
                                        {{objects.get("str_nam_in_phieu")}}
                                        {% endif %}</i></span>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="row mt-3 pl-2 pr-2 text-center">
            <div class="col-12">
                <div>
                    <span>Kính gửi: {% if objects.get("ten_doi_tuong") != None and objects.get("ten_doi_tuong") !="" %}
                        {{objects.get("ten_doi_tuong")}} {% endif %} </span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <span><i>Địa chỉ:
                            {% if objects.get("cho_o_hien_tai") != None and objects.get("cho_o_hien_tai") !="" %}
                            {{objects.get("cho_o_hien_tai")}} {% endif %}</i></span>
                </div>
            </div>
        </div>

        <div class="row mt-3 pl-2 pr-2">
            <div class="col-12">
                <div class="text-indent-custom" style="text-indent: 20px;">
                    <span>
                        Sở Y tế nhận được Đơn và hồ sơ liên quan đề nghị cấp Chứng chỉ hành nghề được của
                        {% if objects.get("text_gioitinh") != None and objects.get("text_gioitinh") !="" %}
                        {{objects.get("text_gioitinh")}} {% endif %}
                    </span>
                    <span>
                        {% if objects.get("ten_doi_tuong") != None and objects.get("ten_doi_tuong") !="" %}
                        {{objects.get("ten_doi_tuong")}} {% endif %},
                    </span>
                    <span>
                        có Chứng minh nhân dân số
                        {% if objects.get("macongdan") != None and objects.get("macongdan") !="" %}
                        {{objects.get("macongdan")}} {% endif %}
                    </span>
                    <span>
                        do Cục Cánh Sát DKQL Cư Trú và DKQG Về Dân Cư cấp ngày
                        {% if objects.get("noi_cap_chung_minh_nhan_dan") != None and objects.get("noi_cap_chung_minh_nhan_dan") !="" %}
                        {{objects.get("noi_cap_chung_minh_nhan_dan")}} {% endif %};
                    </span>
                    <span>
                        Thường chú tại:
                        {% if objects.get("dia_chi_thuong_chu") != None and objects.get("dia_chi_thuong_chu") !="" %}
                        {{objects.get("dia_chi_thuong_chu")}} {% endif %};
                    </span>
                    <span>
                        Chỗ ở hiện nay:
                        {% if objects.get("cho_o_hien_tai") != None and objects.get("cho_o_hien_tai") !="" %}
                        {{objects.get("cho_o_hien_tai")}} {% endif %}
                    </span>
                    <span>
                        Sau khi xem xét hồ sơ, Sở Y tế có ý kiến sau:
                    </span>
                </div>
                <div class="pl-3 mt-2">
                <span style="white-space: pre-line;">{%if objects.get('noidung_yeucaubosung_chuyenvien')!=None and objects.get('noidung_yeucaubosung_chuyenvien')!=''%}{{objects.get('noidung_yeucaubosung_chuyenvien')}}{%endif%}</span>
                </div>
                <div class="pl-3 mt-2">
                    <span>Sở Y tế thông báo đến
                        {% if objects.get("text_gioitinh") != None and objects.get("text_gioitinh") !="" %}
                        {{objects.get("text_gioitinh")}} {% endif %} </span>
                    <span>{% if objects.get("ten_doi_tuong") != None and objects.get("ten_doi_tuong") !="" %}
                        {{objects.get("ten_doi_tuong")}} {% endif %} để biết và thực hiện.</span>
                </div>
            </div>
        </div>

        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <td width="30%">
                        <div>
                            <i class="font-weight-bold">Nơi nhận:</i><br>
                            -Như trên;<br>
                            -Ban Giám đốc Sở Y tế;<br>
                            -Lưu: VP, QLDVYT (3b). TVC.<br>
                        </div>
                    </td>
                    <td width="70%">
                        <div class="text-center">
                            <span class="font-weight-bold">
                                TUQ. GIÁM ĐỐC<br>
                                TRƯỞNG PHÒNG QUẢN LÝ DỊCH VỤ Y TẾ

                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</body>


</html>