<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý chứng chỉ hành nghề dược</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>
</head>

<body>
    <div class="padding-common">

        <div class="row">
            <div class="col-12 text-center font-weight-bold">
                <div class="text-uppercase">
                    CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
                </div>
                <div>
                    Độc lập - Tự do - Hạnh phúc
                </div>
                <div>
                    -------------
                </div>
                <div class="font-weight-bold">
                    <div class="text-uppercase">Giấy xác nhận</div>
                    <div>Thời gian thực hành tại cơ sở thực hành chuyên môn về dược</div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                Tên cơ sở: {%if cosothuchanh.ten_co_so != None%}{{cosothuchanh.ten_co_so}}{%endif%}
                <span class="ml-5">Địa chỉ: {%if cosothuchanh.diachi_co_so != None%}{{cosothuchanh.diachi_co_so}}{%endif%}</span>
            </div>
            <div class="col-12">Số giấy CNĐĐKKDD: {%if so_giay_phep != None%}{{so_giay_phep}}{%endif%}</div>
            <div class="col-12">Xác nhận Ông/Bà:
                {%if doituong!=None and doituong.hoten!=None%}{{doituong.hoten}}{%endif%}</div>
            <div class="col-12">Số CMND/Thẻ căn cước/Hộ chiếu/Các giấy tờ tương đương khác:
                {%if doituong!=None and doituong.macongdan!=None%}{{doituong.macongdan}}{%endif%}</div>
            <div class="col-12">
                <span>Ngày cấp: {%if doituong!=None and doituong.ngaycap!=None%}{{doituong.ngaycap}}{%endif%}</span>
                <span class="ml-5">Nơi cấp: {%if doituong!=None and doituong.noicap!=None%}{{doituong.noicap}}{%endif%}</span>
            </div>
            
            <div class="col-12">Thường trú tại:
                {%if doituong!=None and doituong.diachi_thuongtru!=None%}{{doituong.diachi_thuongtru}}{%endif%}</div>
            <div class="col-12">Đã có thời gian thực hành dược tại:
                {%if cosothuchanh.ten_co_so!=None%}{{cosothuchanh.ten_co_so}}{%endif%}</div>
            <div class="col-12">Từ ngày {%if tu_ngay!= None%}{{tu_ngay}}{%endif%}{%if den_ngay!= None%} đến ngày
                {{den_ngay}}{%endif%}</div>
            <div class="col-12">Nội dung thực hành:
                {%if cosothuchanh.noi_dung_thuc_hanh!=None%}
                                {%for noidung in cosothuchanh.noi_dung_thuc_hanh%}{{noidung.ten}}{%if loop.last==False%}, {%endif%}{%endfor%}
                                {%endif%}
                                {%if cosothuchanh.noi_dung_khac!=None%}, {{cosothuchanh.noi_dung_khac}}{%endif%}</div>
            <div class="col-12">
                Tôi xin chịu hoàn toàn trách nhiệm về xác xác trên.
            </div>
        </div>
        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <td width="30%">
                    </td>
                    <td width="70%" class="text-center">
                        ................, {{current_time}}<br>
                        Người đại diện trước pháp luật/người được uỷ quyền<br>
                        (Ký, ghi rõ họ tên, chức danh, đóng dấu(nếu có))
                    </td>
                </tr>

            </tbody>
        </table>
       
    </div>

</body>

</html>