<div block-bind="content">
	<div class="row">
        <div class="card col-12">
            <div class="card-body py-2">
                <h4 id="title_page" class="page-title text-uppercase text-center text-primary">Thông tin thủ tục</h4>
            </div>
        </div>
    </div>
	<div class="card  card-small mb-4">
		<div class="card-body">
			<div class="form-horizontal" >
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Loại thủ tục</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" data-bind="value:loai_thu_tuc">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Mã thủ tục</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:ma_thu_tuc">
					</div>
                </div>
                <div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Tên thủ tục</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:ten_thu_tuc">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Lĩnh vực</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" data-bind="value:linh_vuc" placeholder="VD: Dược, mỹ phẩm">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Mức độ</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:muc_do" placeholder="VD: Mức độ 4">
					</div>
                </div>
                <div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Đối tượng</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:doi_tuong" placeholder="VD: Cá nhân">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Cơ quan thực hiện</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:co_quan_thuc_hien" placeholder="VD: Sở Y tế"> 
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Số ngày giả quyết (ngày)</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" data-bind="value:thoigian_thuchien_bangso" placeholder="VD: 15">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Thời gian giải quyết</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" data-bind="value:thoi_gian_giai_quyet" placeholder="VD: 15 ngày làm việc, kể từ ngày nhận được hồ sơ hợp lệ">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Kết quả thức hiện</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:ket_qua_thuc_hien" placeholder="VD: Chứng chỉ hành nghề hoặc văn bản từ chối">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Lệ phí (VND)</label>
					<div class="col-sm-10">
						<input type="number"  class="form-control" data-bind="value:le_phi_number" placeholder="VD: 500000">
					</div>
				</div>
                <div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Lệ phí (bằng chữ)</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:le_phi_text" placeholder="VD: Thẩm định hồ sơ cấp chứng chỉ hành nghề dược: 500.000 đồng/ lần">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Cách thực hiện</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" data-bind="value:cach_thuc_hien">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Thành phần hồ sơ</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:thanh_phan_ho_so">
					</div>
                </div>
                <div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Căn cứ pháp lý</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:cancu_phap_ly">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Trạng thái</label>
					<div class="col-sm-10">
						<input type="number"  class="form-control" data-bind="value:trangthai">
					</div>
				</div>


				

				<div class="form-group row">
					<div block-bind="toolbar" class="col-sm-12 col-xs-12 text-center"></div>
				</div>
			</div>
		</div>
	</div>
</div>