<div block-bind="content">
    <div class="header">
        <h4 class="page-title text-uppercase text-center text-primary mt-lg-3">Thông tin tài khoản</h4>
    </div>
    <div class="card">
        <div class="container p-2">
            <div class="row mt-1">
                <div class="col-12">
                    <div class="form-group">
                        <span>Họ tên:</span>
                        <input type="text" class="form-control" placeholder="Nhập họ và tên" data-bind="value:fullname">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Email <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Nhập địa chỉ email"
                            data-bind="value:email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Số điện thoại <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                            data-bind="value:phone">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span class="no_id">Mật khẩu <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Mật khẩu" data-bind="value:password">
                    </div>
                </div>
                <div class="col-12 vaitro d-none">
                    <div class="form-group">
                        <span>Vai trò <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Vai trò" id="roles">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4 mb-5 text-center">
                    <div block-bind="toolbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>