<!-- Page Header -->
<div class="header">
        <h4 class="page-title text-uppercase text-center text-title mt-lg-3">Danh sách yếu tố dịch tễ</h4>
</div>
<!-- End Page Header -->
<div class="card">
		<div class="card-body">
			<div class="row ">
				<div class="col-md-4 col-5 mb-2">
					<div block-bind="toolbar"></div>
				</div>	
				<div class="col-md-8 col-7 mb-2">
					<div class="form-group text-right" id="grid_search">
			        </div>
				</div>
			</div>
			<div class="grid-collection" id="grid" data-bind='collection:$collection'></div>
		</div>
</div>