<div block-bind="content">
	<!-- Page Header -->
	<div class="row">
		<div class="card col-12">
			<div class="card-body py-2">
				<h3 class="page-title text-uppercase text-center text-primary">Thông tin mối quan hệ gia đình</h3>
			</div>
		</div>
	</div>
	<!-- End Page Header -->
	<div class="card  card-small mb-4">
		<!-- <div class="card-header  border-bottom">
				<div class="row">
					<div block-bind="toolbar" class="col-md-6 col-lg-6 col-sm-12 col-xs-12"></div>
				</div>
		</div> -->
		<div class="card-body">
			<form class="form-horizontal" role="form">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Mã mối quan hệ</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" data-bind="value:ma">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Tên mối quan hệ</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:ten">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Mô tả mối quan hệ</label>
					<div class="col-sm-10">
						<textarea rows="3" class="form-control" data-bind="value:mota"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="simpleinput">Trạng thái</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" data-bind="value:active">
					</div>
				</div>
				<div class="form-group row">
					<div block-bind="toolbar" class="col-sm-12 col-xs-12 text-center"></div>
				</div>

			</form>
			
		</div>
	</div>
</div>