<div block-bind="content">
    <div class="header">
        <h4 class="page-title text-uppercase text-center text-primary mt-lg-3">Thông tin triệu chứng</h4>
    </div>
    <div class="card">
        <div class="container p-2">
            <div class="row mt-1">
                <div class="col-12">
                    <div class="form-group">
                        <span>Tên triệu chứng <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Nhập tên triệu chứng" data-bind="value:ten">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Thứ tự ưu tiên <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Nhập thứ tự ưu tiên" data-bind="value:thutu_uutien" value="0">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Có bắt buộc nhập hay không <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Bắt buộc" id="batbuoc">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <span>Trạng thái <span class="red">(*)</span>:</span>
                        <input type="text" class="form-control" placeholder="Trạng thái" id="trangthai">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4 mb-5 text-center">
                    <div block-bind="toolbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>