<div block-bind="content">
    <div class="container khaibaoyte px-1">
        <div class="row">
            <div class="col-12 text-center text-uppercase mt-2">
                <span class="text-title">
                    Thông tin khai báo
                </span>
            </div>
        </div>
        <div class="khaibao-wrapper p-2 mt-4">
            <div class="row mt-1">
                <div class="col-12 text-info-top">
                    <div class="wrap">
                        <div class="ten text-center mt-1"></div>
                        <div class="text-center ma_benh_nhan"></div>
                        <div id="qrcode" class="text-center mt-2"></div>
                        <div class="type_qrcode text-center mt-2">QR Y tế</div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-5 font-weight-bold mt-1">Ngày khai báo:</div>
                <div class="col-7 ngay_khai_bao mt-1"></div>

                <div class="col-5 font-weight-bold mt-1">Ngày sinh:</div>
                <div class="col-7 ngay_sinh mt-1"></div>

                <div class="col-5 font-weight-bold mt-1">Giới tính:</div>
                <div class="col-7 gioi_tinh mt-1"></div>

                <div class="col-5 font-weight-bold mt-1">Địa chỉ:</div>
                <div class="col-7 dia_chi mt-1"></div>
                
                
                <div class="col-5 font-weight-bold mt-1">Số điện thoại:</div>
                <div class="col-7 mt-1" data-bind="text:so_dien_thoai"></div>

                <div class="col-5 font-weight-bold mt-1 khoaphong">Khoa/phòng làm việc:</div>
                <div class="col-7 mt-1 khoaphong" data-bind="text:khoa_phong"></div>

                <div class="col-5 font-weight-bold mt-1 lydodenvien">Lý do đến viện:</div>
                <div class="col-7 mt-1 lydodenvien" data-bind="text:lydodenvien"></div>

                <div class="col-5 font-weight-bold mt-1">Dấu hiệu:</div>
                <div class="col-7 dauhieu mt-1"></div>

                <div class="col-5 font-weight-bold mt-1">Dịch tễ:</div>
                <div class="col-7 dichte mt-1"></div>

                <div class="col-12 mt-1">
                    <span class="ketqua"></span>
                </div>
                <div class="col-12 mt-1">
                    <span class="ghichu"></span>
                </div>
                
                <div class="col-12 mt-1">
                    <span class="font-weight-bold">Cảm ơn bạn đã khai báo thông tin y tế.</span>
                </div>
                <div class="col-12 text-center">
                    <img src="static/images_template/logo.jpg" style="max-width: 100%;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4 mb-5 text-center">
                    <div block-bind="toolbar"></div>
                </div>
            </div>
        </div>
        <div id="list-modal"></div>
    </div>

</div>