<div class="account-pages active-page" id="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">

                <div class="box-login-wrapper card border-0 position-relative">
                    <a href="#login"><i class="fas fa-times-circle position-absolute icon-close"></i></a>
                    <div class="card-body w-100 w-md-75 p-4 m-auto ">
                        <div class="title-text text-center">Xác thực tài khoản</div>
                        <form action="#">

                            <div class="row mb-4 mt-5">
                                <div class="col-2">
                                    <input type="text" id="one" class="active-number" maxlength="1">
                                </div>
                                <div class="col-2">
                                    <input type="text" id="two" class="active-number" maxlength="1">
                                </div>
                                <div class="col-2">
                                    <input type="text" id="three" class="active-number" maxlength="1">
                                </div>
                                <div class="col-2">
                                    <input type="text" id="four" class="active-number" maxlength="1">
                                </div>
                                <div class="col-2">
                                    <input type="text" id="five" class="active-number" maxlength="1">
                                </div>
                                <div class="col-2">
                                    <input type="text" id="six" class="active-number" maxlength="1">
                                </div>

                            </div>

                            <div class="form-group mb-1 text-center">
                                <button class="btn btn-primary btn-block btn-login" type="button" id="btn-confirm"><i
                                        class="fas fa-chevron-circle-right"></i> XÁC NHẬN </button>
                            </div>
                            <div class="form-group text-center mb-3">
                                <a id="resend_code" href="#">Gửi lại mã xác nhận</a>
                            </div>


                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<footer class="footer footer-alt text-footer">
    SỞ Y TẾ TP HỒ CHÍ MINH
</footer>