<div class="account-pages register-page pt-4 pb-5 containter-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5 col-xl-4">

            <div class="box-login-wrapper card border-0 position-relative">
                <a href="#login"><i class="fas fa-times-circle position-absolute icon-close"></i></a>
                <div class="card-body w-100 w-md-75 p-3 m-auto ">
                    <div class="title-text text-center">ĐĂNG KÝ TÀI KHOẢN</div>
                    <form action="#">
                        <div class="form-group my-2">
                            <div class="text-type-select text-center mb-2">Chọn loại tài khoản</div>
                            <div class="type-list d-flex justify-content-around">
                                <div class="type-item text-center type-selected">
                                    <label for="role_duocsi">
                                        <i class="fas fa-user-nurse"></i>
                                        <span class="text-type-item pt-2">Cá nhân</span>
                                    </label>
                                    <input type="radio" name="role" id="role_duocsi" value="duocsi" checked="checked">

                                </div>
                                <div class="type-item text-center type-no-select">
                                    <label for="role_tochuc">
                                        <i class="fas fa-hospital-alt "></i>
                                        <span class="text-type-item pt-2">Tổ chức</span>
                                    </label>
                                    <input type="radio" name="role" id="role_tochuc" value="tochuc">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="emailaddress" class="label-input">Nhập số điện thoại</label>
                            <div class="input-group input-icon">
                                <input class="form-control input-login" type="text" id="phone_number" required=""
                                    placeholder="Nhập số điện thoại">
                                <i class="ri-user-fill "></i>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="password" class="label-input">Mật khẩu</label>
                            <div class="input-group input-icon">

                                <input type="password" id="password" class="form-control input-login"
                                    placeholder="Nhập mật khẩu">
                                <i class="ri-key-fill"></i>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="password" class="label-input">Xác nhận mật khẩu</label>
                            <div class="input-group input-icon">

                                <input type="password" id="confirm_password" class="form-control input-login"
                                    placeholder="Nhập lại mật khẩu">
                                <i class="ri-key-fill"></i>
                            </div>
                        </div>
                        <div class="form-group mb-1 text-center">
                            <button class="btn btn-primary btn-block btn-login" type="button" id="btn-register"><i
                                    class="fas fa-chevron-circle-right"></i> Đăng ký </button>
                        </div>


                    </form>

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
    <!-- end container -->
</div>
<footer class="footer footer-alt text-footer">
    SỞ Y TẾ TP HỒ CHÍ MINH
</footer>