<div block-bind="content">
    <div class="row">
        <div class="col-2">
            <div class="card bg-card-1">
                <div class="card-body">
                    <span class="text-number">10.500</span>
                    <span class="text-label">CCHN-D</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card bg-card-2">
                <div class="card-body">
                    <span class="text-number">4.500</span>
                    <span class="text-label">GCN ĐKKDD</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card bg-card-3">
                <div class="card-body">
                    <span class="text-number">500</span>
                    <span class="text-label">GPS</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card bg-card-4">
                <div class="card-body">
                    <span class="text-number">05</span>
                    <span class="text-label">HỒ SƠ QUÁ HẠN</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card bg-card-5">
                <div class="card-body">
                    <span class="text-number">560</span>
                    <span class="text-label">CCHN-D THU HỒI</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card bg-card-6">
                <div class="card-body">
                    <span class="text-number">360</span>
                    <span class="text-label">GPS THU HỒI</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-7">
            <div class="card p-2" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title font-weight-bold">THỐNG KÊ TÌNH HÌNH CẤP, ĐỔI, THU HỒI CCHND</h4>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-5">
            <div class="card p-2" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title font-weight-bold">CCNHD THEO PHẠM VI CHUYÊN MÔN</h4>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <div class="card p-3">
                <div class="card-body-top d-flex align-items-center justify-content-between">
                    <div class="text-title">CCHN-D VI PHẠM </div>
                    <div class="">
                        <a class="text-primary">Xem thêm</a>
                    </div>
                </div>
                <div class="card-body-content mt-3">
                    <table class="table">
                        <thead class="thead-color">
                            <tr>
                                <th>Số</th>
                                <th>Họ tên</th>
                                <th>Lý do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0001</td>
                                <td>Nguyễn Tuấn Anh</td>
                                <td>Chưa có GCN đào tạo</td>
                            </tr>
                            <tr>
                                <td>0002</td>
                                <td>Lê Ngọc Hà</td>
                                <td>Chưa có GCN đào tạo</td>
                            </tr>
                            <tr>
                                <td>0003</td>
                                <td>Nguyễn Tuấn An</td>
                                <td>Chưa có GCN đào tạo</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card p-3">
                <div class="card-body-top d-flex align-items-center justify-content-between">
                    <div class="text-title">GPS HẾT HẠN </div>
                    <div class="">
                        <a class="text-primary">Xem thêm</a>
                    </div>
                </div>
                <div class="card-body-content mt-3">
                    <table class="table">
                        <thead class="thead-color">
                            <tr>
                                <th>Số</th>
                                <th>Cơ sở</th>
                                <th>Ngày hết hạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0001</td>
                                <td>Nhà thuốc Hoa Châu</td>
                                <td>15/10/2020</td>
                            </tr>
                            <tr>
                                <td>0002</td>
                                <td>Nhà thuốc Tuấn Anh</td>
                                <td>15/10/2020</td>
                            </tr>
                            <tr>
                                <td>0003</td>
                                <td>Nhà thuốc Hy Vọng</td>
                                <td>15/10/2020</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card p-3">
                <div class="card-body-top d-flex align-items-center justify-content-between">
                    <div class="text-title">CCHN-D THU HỒI </div>
                    <div class="">
                        <a class="text-primary">Xem thêm</a>
                    </div>
                </div>
                <div class="card-body-content mt-3">
                    <table class="table">
                        <thead class="thead-color">
                            <tr>
                                <th>Số</th>
                                <th>Họ tên</th>
                                <th>Lý do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0001</td>
                                <td>Nguyễn Tuấn Anh</td>
                                <td>Chưa có GCN đào tạo</td>
                            </tr>
                            <tr>
                                <td>0002</td>
                                <td>Lê Ngọc Hà</td>
                                <td>Chưa có GCN đào tạo</td>
                            </tr>
                            <tr>
                                <td>0003</td>
                                <td>Nguyễn Tuấn An</td>
                                <td>Chưa có GCN đào tạo</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>