<div class="d-flex flex-column h-100">
    <main id="thong-bao">
      <div class="d-flex header header-new text-center" style="justify-content: center;">
        <h2 class="title-ticket">Thông báo</h2>
      </div>

      <div id="main-content" class="container-fluid" style="">
          

        <!-- <div class="container-2 d-none" data-toggle="modal" data-target="#myModal">
          <div class="name-ticket">
            <span>Đổi mật khẩu</span>
            <span class="left">08/08/2019 13:36</span>
          </div>
          <div class="info-ticket">
            <p>
              Bạn đã thay <span>đổi mật khẩu</span> thành công lúc <span>15:30:05</span> ngày <span>20/03/2020</span>
            </p>
          </div>
        </div> -->

      </div>
      <div style="padding-left: 15px;padding-right: 15px;padding-bottom: 15px;" >
        <svg xmlns="http://www.w3.org/2000/svg" width="102" height="16" viewBox="0 0 102 16">
            <text id="_ICT_Anti_19_" data-name="#ICT_Anti_19 " transform="translate(51 13)"
                fill="#6e9eff" font-size="12" font-family="SegoeUI, Segoe UI">
                <tspan x="-50.936" y="0"> </tspan>
            </text>
        </svg>
    </div>
    </main>
    <!-- The Modal -->
    <div class="modal" id="myModalDetail">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><svg id="surface1" xmlns="http://www.w3.org/2000/svg"
              width="27.321" height="27.321" viewBox="0 0 27.321 27.321">
              <path id="Path_319" data-name="Path 319"
                d="M16.636,2.977A13.66,13.66,0,1,0,30.3,16.636,13.677,13.677,0,0,0,16.636,2.977Zm5.41,18.185a.63.63,0,0,1,0,.885.638.638,0,0,1-.885,0l-4.525-4.528L12.11,22.046a.635.635,0,0,1-.883,0,.63.63,0,0,1,0-.885l4.525-4.525L11.228,12.11a.624.624,0,0,1,.883-.883l4.525,4.525,4.525-4.525a.625.625,0,1,1,.885.883l-4.528,4.525Z"
                transform="translate(-2.977 -2.977)" fill="#bcbcbc" />
            </svg>
          </button>
          <div class="modal-header">
            <h4 class="modal-title">Phiếu được phê duyệt</h4>

          </div>

          <div class="modal-body">
            Yêu cầu nhận thuốc mạn tính ngày <span>20/03/2020</span> đã được phê duyệt bởi <span>bệnh viện Xanh
              Pôn</span>
          </div>
          <div class="modal-footer">
            
          </div>

        </div>
      </div>
    </div>
  </div>