<div class="account-pages active-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">

                <div class="box-login-wrapper card border-0 position-relative">
                    <a href="#login"><i class="fas fa-times-circle position-absolute icon-close"></i></a>
                    <div class="card-body w-100 w-md-75 pt-4 px-5 pb-5 m-auto ">
                        <div class="title-text text-center">Quên mật khẩu</div>
                        <form action="#" class="d-flex flex-column align-items-center">

                            <div class="row mb-2 mt-4 w-100">
                                <div class="input-group input-icon">
                                    <input type="text" id="phone" class="form-control input-login"
                                        placeholder="Nhập số điện thoại" name="phone">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="form-group text-center mb-3 w-100">
                                Mã xác nhận sẽ được gửi qua số điện thoại ở trên
                            </div>

                            <div class="form-group mb-1 text-center w-100">
                                <button class="btn btn-primary btn-block btn-login" type="button" id="button-forgot-password"><i
                                        class="fas fa-chevron-circle-right"></i> Gửi </button>
                            </div>
                           


                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<footer class="footer footer-alt text-footer">
    SỞ Y TẾ TP HỒ CHÍ MINH
</footer>