<div id="wrapper" class="layout-menudoc">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">

            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown d-inline-block d-lg-none">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fe-search noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-lg dropdown-menu-right p-0">
                        <form class="p-3">
                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                        </form>
                    </div>
                </li>


               
                <li class="dropdown notification-list topbar-dropdown">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="static/images_template/avatar-default.png" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            <span class="user-name">User Name</span> <i class="mdi mdi-chevron-down"></i> 
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <a href="javascript:void(0);" class="dropdown-item notify-item info_myself">
                            <i class="ri-account-circle-line"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
  
                        <a href="#logout" class="dropdown-item notify-item">
                            <i class="ri-logout-box-line"></i>
                            <span>Đăng xuất</span>
                        </a>
  
                    </div>
                </li>
  

            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="/" class="logo logo-light text-center px-2">
                    <div class="form-inline">
                        <span class="logo-sm">
                            <img src="static/images_template/Logo_BoYTe.png" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="static/images_template/Logo_BoYTe.png" alt="" height="45">
                        </span>
                        <span class=" logo-lg h5 pl-2 text-uppercase text-white"> Bệnh viện nhi Trung ương</span>
                    </div>
                    
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect waves-light">
                        <i class="fe-menu"></i>
                    </button>
                </li>

                <li>
                    <!-- Mobile menu toggle (Horizontal Layout)-->
                    <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </li>   
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <!-- LOGO -->
        <div class="logo-box">
            <a href="/" class="logo logo-light text-center px-2">
                <div class="form-inline">
                    <span class="logo-sm">
                        <img src="static/images_template/Logo_BoYTe.png" alt="" height="45">
                    </span>
                    <span class="logo-lg">
                        <img src="static/images_template/Logo_BoYTe.png" alt="" height="45">
                    </span>
                    <span class="h5 pl-2 text-uppercase text-white"> Bệnh viện nhi Trung ương</span>
                </div>
            </a>
        </div>

        

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page px-0">
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>