<div id="wrapper">
    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
  
            <ul class="list-unstyled topnav-menu float-right mb-0 menu-admin d-none">
                <li class="dropdown notification-list topbar-dropdown">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="static/images_template/avatar-default.png" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            <span class="user-name">User Name</span> <i class="mdi mdi-chevron-down"></i> 
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <a href="#quan_ly_nguoi_dung/collection" class="dropdown-item notify-item info_myself quanly_taikhoan d-none">
                            <i class="ri-account-circle-line"></i>
                            <span>Quản lý tài khoản</span>
                        </a>
                        <a class="dropdown-item notify-item info_myself thongtin_taikhoan d-none">
                            <i class="ri-account-circle-line"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
                        <a href="#tokhai_yte/collection" class="dropdown-item notify-item info_myself">
                            <i class="ri-file-list-line"></i>
                            <span>Danh sách khai báo y tế</span>
                        </a>
                        <a href="#tokhai_yte/trieuchung/collection" class="dropdown-item notify-item info_myself quanly_trieuchun">
                            <i class="ri-hospital-line"></i>
                            <span>Quản lý triệu chứng</span>
                        </a>
                        <a href="#tokhai_yte/dichte/collection" class="dropdown-item notify-item info_myself quanly_dichte">
                            <i class="ri-hospital-line"></i>
                            <span>Quản lý yếu tố dịch tễ</span>
                        </a>

                        <a href="#logout" class="dropdown-item notify-item">
                            <i class="ri-logout-box-line"></i>
                            <span>Đăng xuất</span>
                        </a>
  
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled topnav-menu float-right mb-0 menu-none-login" style="height: 60px;">
                <li class="dropdown notification-list topbar-dropdown h-100">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="margin-top: 40%;">
                        <div class="lines" style="height: 30px; width: 30px; ">
                            <span class="line-item"></span>
                            <span class="line-item"></span>
                            <span class="line-item"></span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <a href="#tokhai_yte/model" class="dropdown-item notify-item info_myself">
                            <i class="fe-file-plus"></i>
                            <span>Khai báo y tế</span>
                        </a>
                        <a href="#tokhai_yte/lichsu" class="dropdown-item notify-item info_myself">
                            <i class="fe-clock"></i>
                            <span>Lịch sử khai báo</span>
                        </a>
  
                    </div>
                </li>
            </ul>
  
            <!-- LOGO -->
            <div class="logo-box">
                <a href="" class="logo logo-light text-center">
                    <!-- <a href="javascript:;" class="logo logo-dark text-center">
                        <span class="logo-lg">
                            <img class="img-logo" src="static/images_template/Logo_BoYTe.png" alt="" height="95" width="95">
                        </span>
                    </a> -->
                    <div class="form-inline">
                        <span class="logo">
                            <img src="static/images_template/logo.png" alt="" height="45">
                        </span>
                    </div>
                </a>
            </div>
  
           
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end Topbar -->
  
  
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
  
    <div class="content-page px-0">
    </div>
  
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  
  
  </div>
  <!-- END wrapper -->
  
  <!-- Right Sidebar -->
  <!-- /Right-bar -->
  
  <!-- Right bar overlay-->
  