<div class="account-pages active-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">

                <div class="box-login-wrapper card border-0 position-relative">
                    <a href="#login"><i class="fas fa-times-circle position-absolute icon-close"></i></a>
                    <div class="card-body w-100 w-md-75 pt-4 px-5 pb-5 m-auto ">
                        <div class="title-text text-center mb-3">Thay đổi mật khẩu</div>
                        <form action="#">
                            <div class="form-group mb-3">
                                <label for="password" class="label-input">Mật khẩu mới</label>
                                <div class="input-group input-icon">
                                    <input class="form-control input-login" type="text" id="password" name="password" required=""
                                        placeholder="Nhập mật khẩu">
                                        <i class="ri-key-fill"></i>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="confirm_password" class="label-input">Xác nhận mật khẩu</label>
                                <div class="input-group input-icon">

                                    <input type="password" id="confirm-password" class="form-control input-login"
                                        placeholder="Xác nhận mật khẩu" name="confirm-password">
                                    <i class="ri-key-fill"></i>
                                </div>
                            </div>
                            <div class="form-group mb-1 text-center">
                                <button class="btn btn-primary btn-block btn-confirm" type="button" id="btn-confirm"><i
                                        class="fas fa-chevron-circle-right"></i> Xác nhận </button>
                            </div>
                          
                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<footer class="footer footer-alt text-footer">
    SỞ Y TẾ TP HỒ CHÍ MINH
</footer>