<td class="my-auto text-left">
    <a class="url_file"  id="name_file" href="javascript:;"></a>
</td>
<!-- <td style="width: 50px; line-height: 30px;text-align: center">
    <a class="url_file" ><button type="button" class="btn btn-info">Xem</button></a>
</td> -->
<td style="width: 50px;text-align: center" class="my-auto">
    <button type="button" id="itemRemove" class="btn-remove-in-danhsachfile">
        <span class="fa fa-times"></span>
    </button>
</td>