<div block-bind="content">
    <form action="#">
        <div class="row">
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body py-3 px-4">
                        <div class="avatar-img mb-3">
                            <i class="fas fa-camera btn-change-avatar"></i>
                            <img src="" alt="" class="rounded-circle border p-1" id="avatar-img" width="150"
                            height="150">
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Họ và tên <span class="text-danger">*</span></label>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-7">
                                        <input type="text" class="form-control" placeholder="Nhập họ và tên đệm" data-bind="value:ho">
                                    </div>
                                    <div class="col-5">
                                        <input type="text" class="form-control" placeholder="Nhập tên" data-bind="value:ten">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Ngày sinh<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="01/01/2020"
                                    data-bind="value:ngaysinh">
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Giới tính<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input type="text" class="form-control" data-bind="value:gioitinh"
                                    placeholder="Chọn giới tính">
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">CMND/CCCD<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Nhập số CMND/CCCD"
                                    data-bind="value:macongdan">
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Ngày cấp</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="01/01/2020"
                                    data-bind="value:ngaycap">
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Nơi cấp</label>
                            <div class="col-8">
                                <select id="selectize-tinhthanh-capcmnd" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Số điện thoại<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại liên lạc"
                                    data-bind="value:dienthoai">
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Email</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Nhập địa chỉ email"
                                    data-bind="value:email">
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Văn bằng chuyên môn</label>
                            <div class="col-8">
                                <select id="selectize-vanbang" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Nơi tốt nghiệp</label>
                            <div class="col-8">
                                <select id="selectize-noitotnghiep" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Năm tốt nghiệp</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Năm tốt nghiệp"
                                    data-bind="value:nam_tot_nghiep">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body py-3 px-4">
                        <div class="form-group row pb-1">
                            <label for="" class="col-12 text-dark">Hộ khẩu thường trú: </label>
                        </div>

                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Tỉnh/TP</label>
                            <div class="col-8">
                                <select id="selectize-tinhthanh-thuongtru" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Quận/Huyện</label>
                            <div class="col-8">
                                <select id="selectize-quanhuyen-thuongtru" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Phường/Xã</label>
                            <div class="col-8">
                                <select id="selectize-xaphuong-thuongtru" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Số nhà, tên đường</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="100 Nguyễn Thị Thập"
                                    data-bind="value:diachi_thuongtru">
                            </div>
                        </div>


                        <div class="form-group row pb-1">
                            <label for="" class="col-12 text-dark">Chỗ ở hiện nay: </label>
                        </div>
                        
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Tỉnh/TP</label>
                            <div class="col-8">
                                <select id="selectize-tinhthanh" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Quận/Huyện</label>
                            <div class="col-8">
                                <select id="selectize-quanhuyen" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Phường/Xã</label>
                            <div class="col-8">
                                <select id="selectize-xaphuong" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <label for="" class="col-4 text-fix">Số nhà, tên đường</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="100 Nguyễn Thị Thập" data-bind="value:diachi">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 mb-5 text-center">
                <div block-bind="toolbar"></div>
                <!-- <div class="btn btn-primary text-white px-4 py-2 font-weight-bold">LƯU THÔNG TIN</div> -->
            </div>
        </div>
    </form>
</div>