
<!-- Page Header -->
    <div class="header">
            <h4 class="page-title text-uppercase text-center text-title mt-lg-3"></h4>
    </div>
  <!-- End Page Header -->
 
  <div class="card danhsach_khaibaoyte">
          <div class="card-body">
                  <div block-bind="toolbar"></div>
          </div>
	  <div class="">
		  <div id="grid" data-bind='collection:$collection'></div>
	  </div>
  </div>
  